{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title-cta.html" site.Data.home.mission }}

<a id="sm-tag-services"></a>
{{ partial "generic-boxes.html" site.Data.home.services }}

<!-- <div class="bg-darker">
	<a id="sm-tag-datasets"></a>
	{{ partial "text-imgs.html" site.Data.home.use_case_data_access }}
</div>

{{ partial "imgs-text.html" site.Data.home.use_case_data_sharing }} -->
{{ partial "imgs-text.html" site.Data.home.use_case }}


<!-- <div class="bg-darker">
{{ partial "text-imgs.html" site.Data.home.use_case_data_visualization }}
</div> -->
<div class="bg-darker">
	{{ partial "text-imgs.html" site.Data.home.dataset_example }}
</div>

<a id="sm-tag-community"></a>
{{ partial "slideshow.html" ( dict "dataCommunity" site.Data.community "dataHome" site.Data.home ) }}

{{ end }}
