{{ define "main" }}
	
	{{ partial "nav.html" . }}
	
	{{ partial "title-cta.html" site.Data.home.mission }}
	
	{{ partial "generic-offset-images.html" site.Data.home.offset_images }}

	{{ partial "col-images.html" site.Data.home.community }}

	<div class="bg-darker">
	{{ partial "col-text-imgs.html" site.Data.home.documentation }}
	</div>

	{{ partial "col-imgs-text.html" site.Data.home.use_case }}

	<div class="bg-darker">
	{{ partial "col-text-imgs.html" site.Data.home.dataset_example }}
	</div>

	{{ partial "generic-boxes.html" site.Data.home.services }}

{{ end }}
