{{/*
  SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
  SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}

{{ partial "title-section.html" site.Data.lifecyclemanagement.why_section }}
{{ partial "title-section.html" site.Data.lifecyclemanagement.technical_section }}
{{ partial "title-section.html" site.Data.lifecyclemanagement.dataset_section }}
{{ partial "title-section.html" site.Data.lifecyclemanagement.deprecation_section }}

{{ end }}