Patrick Bertolla <p.bertolla@noi.bz.it>	<patrick.bertolla@idm-suedtirol.com>
Patrick Bertolla <p.bertolla@noi.bz.it>	<p.bertolla@noi.bz.it>
Patrick Ohnewein <p.ohnewein@noi.bz.it>	<patrick.ohnewein@idm-suedtirol.com>
Patrick Ohnewein <p.ohnewein@noi.bz.it>	<patrick.ohnewein@lugbz.org>
Patrick Ohnewein <p.ohnewein@noi.bz.it>	<patrick@ohnewein.net>
Luca Miotto <l.miotto@noi.bz.it>	<l.miotto@noi.bz.it>
Luca Miotto <l.miotto@noi.bz.it>	<luca.miotto@idm-suedtirol.com>
Stefano Seppi <s.seppi@noi.bz.it>	<s.seppi@noi.bz.it>
Stefano Seppi <s.seppi@noi.bz.it>	<7909989+sseppi@users.noreply.github.com>
Stefano Seppi <s.seppi@noi.bz.it>	<stefano.seppi@gmail.com>
Delia Mennitti <101118017+d3liaa@users.noreply.github.com>	<delia.mennitti@stud-inf.unibz.it>
maxglio <massimo.maglio.06@gmail.com>	<massimo.maglio.06@gmail.com>
Henri Egger <105497721+henri-egger@users.noreply.github.com>	<henri@moosbauer.com>
Henri Egger <105497721+henri-egger@users.noreply.github.com>	<105497721+henri-egger@users.noreply.github.com>

