{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}

{{ range site.Data.videos.sections }}
    <section class="py-3">
        <div class="container py-3">
            <h3
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#video-list-{{ sha1 .title }}"
                aria-expanded="{{ .initially_expanded }}"
                aria-controls="video-list-{{ sha1 .title }}"
                class="d-inline video-section-title"
                id="{{ .title | anchorize }}"
            >
                <a href="#{{ .title | anchorize }}" class="anchor-link">
                    {{ .title | markdownify }}
                </a>
                <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="videos collapse {{ if .initially_expanded }}show{{ end }}" id="video-list-{{ sha1 .title }}">
            {{range .videos }}
                <a id="{{ sha1 .video }}"></a>
                <div class="bg-darker">
                    {{ partial "video-text.html" . }}
                </div>
            {{end}}
        </div>
    </section>
{{ end }}


<script src="/js/show-hidden-anchor.js"></script>

{{ end }}
