{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}
{{ partial "video-table-of-contents" site.Data.events.video_library }}

{{ range site.Data.events.video_library }}
    <section>
        {{ partial "col-text-imgs.html" . }}
    </section>

    {{range .videos }}
        <a id="{{ sha1 .video }}"></a>
        <div class="bg-darker">
            {{ partial "video-text.html" . }}
        </div>
    {{end}}
{{ end }}

{{ end }}