{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "nav.html" . }}
{{ partial "title-img.html" site.Data.mentor.start }}

<section id="">
    {{ partial "imgs-text.html" site.Data.mentor.paragraph_1 }}
</section>

<section id="">
    {{ partial "scroll-imgs.html" site.Data.mentor.paragraph_2 }}
</section>

<section id="">
    {{ partial "imgs-text.html" site.Data.mentor.paragraph_3 }}
</section>

<section id="">
    {{ partial "title-cta-paragraph.html" site.Data.mentor.paragraph_4 }}
</section>

<section id="">
    {{ partial "imgs-text.html" site.Data.mentor.paragraph_5 }}
</section>

<section id="">
    {{ partial "title-cta.html" site.Data.mentor.paragraph_6 }}
</section>

<section id="">
    {{ partial "title-img.html" site.Data.mentor.paragraph_7 }}
</section>

<section id="">
    {{ partial "title-img.html" site.Data.mentor.paragraph_8 }}
</section>

<section id="">
    {{ partial "imgs-text.html" site.Data.mentor.paragraph_9 }}
</section>

<section id="">
    {{ partial "title-img.html" site.Data.mentor.paragraph_10 }}
</section>

<section id="">
    {{ partial "imgs-text.html" site.Data.mentor.paragraph_11 }}
</section>

<section id="">
    {{ partial "title-img.html" site.Data.mentor.paragraph_12 }}
</section>

{{ end }}