{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}
<br>

{{ with index .Params.rows 0 }}
  <div class="container fw-semibold fs-5 lh-base">
    {{ partial "text-imgs-enlargeable" . }}

    <!-- Certified Technology Providers -->
    <section>
      {{ partial "title-section.html" site.Data.community.certified }}
      {{ partial "logos.html" site.Data.community.certified }}
    </section>

    <br>

    {{ if .partial }}
      {{ partial .partial . }}
    {{ end }}
  </div>
{{ end }}

{{ end }}