{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- Double Column Text - Imgs -->" | safeHTML }}
<section>
	<div class="container">
		<div class="row gy-4 justify-content-between align-items-center py-4 flex-column-reverse flex-lg-row">
			<div class="col-12 col-lg-6 m-lg-0">
				{{ with .subtitle }}<h2 class="subtitle">{{ . | markdownify }}</h2>{{ end }}
				<h3>{{ .title | markdownify }}</h3>
				<p>{{ .description | markdownify }}</p>

				{{ if and (isset . "btn_link") (isset . "btn_label") }}
				<a {{ if .target_blank }}target="_blank"{{ end }} href="{{.btn_link}}" class="btn btn-primary">{{ .btn_label | markdownify }}</a>
				{{ end }}
			</div>
			<div class="col-12 col-lg-5 m-lg-0 m-lg-0">
				<img src="{{ .img_back }}"/>
			</div>
		</div>
	</div>
</section>
{{"<!-- /Double Column Text - Imgs -->" | safeHTML }}
