{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<script>
	function setReasonClass(value) {
		document.getElementById('contact-form').className = value
	}
</script>

<section>
	<div class="container mt-3">
		<div class="row">
			<div class="col col-lg-5">
				<form id="contact-form" action="">
					<label for="contact-reason">Contact reason</label>
					<select id="contact-reason" onChange="setReasonClass(this.value)">
						<option value="reason-generic">Generic reason</option>
						<option value="reason-data-access">I want to access data</option>
						<option value="reason-data-sharing">I want to share data</option>
					</select>
					<script type="text/javascript">
						var urlParams = new URLSearchParams(window.location.search)
						var contactReason = urlParams.get('contact-reason')
						if (contactReason) {
							contactReason = 'reason-' + contactReason
							document.getElementById('contact-reason').value = contactReason
							setReasonClass(contactReason)
						}
					</script>
			
					<label for="name">Name *</label>
					<input id="name" name="name" placeholer="" type="text" required>
			
					<label for="surname">Surname *</label>
					<input id="surname" name="surname" placeholer="" type="text" required>
			
					<label for="email">Email *</label>
					<input id="email" name="email" placeholer="" type="email" required>
			
					<label for="company">Company</label>
					<input id="company" name="company" placeholer="" type="text">
			
					<div class="data-access" style="display: none">
						<label for="dataset">Datasets you’re interest in *</label>
						<input id="dataset" name="dataset-of-interest" placeholer="" type="text">
					</div>
			
					<div class="data-sharing" style="display: none">
						<label for="data">Type of data you want to share *</label>
						<input id="data" name="data" placeholer="" type="text">
					</div>
			
					<label for="message">Message *</label>
					<textarea id="message" name="message" placeholer="" required ></textarea>
			
					<div class="d-flex align-items-center">
						<input id="terms-agree" name="agree" type="checkbox" class="m-0" required>
						<label for="terms-agree" class="m-0 p-1">I agree to the <a href="{{ site.Params.PrivacyUrl }}" target="_blank">Privacy Terms</a></label>
					</div>
					
					<div class="d-flex align-items-center gap-2 mt-4">
						<button id="confirm" class="btn btn-primary">Send message</button>
						<div id="loading" class="loader"></div>
						<div id="response"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
