{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<div class="col-12 col-lg-4 text-center text-lg-start">
  <a href="mailto:{{ .contact_email }}" class="btn btn-primary py-3 px-4 no-after d-inline-flex gap-4 align-items-center">
    <h2><i class="fa fa-envelope" aria-hidden="true"></i></h2>
    <div class="text-start">
      <h5 class="d-flex align-items-center gap-2 bold">Send us an E-mail</h5>
      <span>{{ .contact_email }}</span>
    </div>
  </a>
</div>
