{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<form id="contact-form" class="reason-generic" action="">
	<label for="contact-reason">Contact reason</label>
	<select id="contact-reason"onChange="document.getElementById('contact-form').className = this.value">
		<option value="reason-generic" selected>Generic reason</option>
	</select>

	<label for="name">Name</label>
	<input id="name" name="name" placeholer="" type="text" required>

	<label for="surname">Surname</label>
	<input id="surname" name="surname" placeholer="" type="text" required>

	<label for="message">Message</label>
	<textarea id="message" name="message" placeholer="" required ></textarea>

	<button class="btn btn-primary">Send message</button>

	<button id="confirm" class="btn btn-primary">Send message</button>
	<div id="loading" class="loader"></div>
	<div id="response"></div>
</form>