{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ $f := site.Params.footer }}
<footer class="mt-5">
  <div class="bg py-3">
    <div class="container">
      <div class="row gy-2 text-black text-semi-bold">
        {{ range $f.cards }}
        <div class="col-12 col-xl-6">
          <a href="{{ .URL }}" {{ if .target_blank }}target="_blank"{{ end }}>
            <div class="card h-100 p-3 d-flex flex-row align-items-center gap-4">
              <div class="flex-shrink-1">
                <img src="{{ .icon }}" alt="{{ .alttext }}" />
              </div>
              <span>{{ markdownify .text }}</span>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
      <div class="hr-bold border-bottom border-black my-3"></div>
      <div class="row gy-3">
        {{ range $f.columns }}
        <div class="col-12 col-lg-3">
          <div class="d-flex flex-column">
            <a {{ with .title_URL }}href="{{ . }}"{{ end }} class="w-fit mb-1 fw-bold">{{ .title }}</a>
            {{ range .rows }}
            <a href="{{ .URL }}" {{ if .target_blank }}target="_blank"{{ end }} class="w-fit">{{ .text }}</a>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ $sm := $f.social_media }}
        <div class="col-12 col-lg-3">
          <div class="d-flex flex-column">
            <strong class="mb-1">{{ $sm.title }}</strong>
            {{ range $sm.rows }}
            <a href="{{ .URL }}" target="_blank" class="d-flex align-items-center gap-2 w-fit">
              <img src="{{ .icon }}" alt="{{ .text }}">
              {{ .text }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <span class="text-muted text-small">
      {{ markdownify $f.copyright }}
    </span>
  </div>
</footer>
