{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<footer class="bg-black text-white">
    <section class="py-3">
        <div class="container">
            <div class="row justify-content-center align-items-center gy-2">
                <div class="col-7 col-lg-2 odh-logo-footer">
                    <a href="/" class="d-block">
                        <img src="{{ site.Params.footer.logo }}" />
                    </a>
                </div>
                {{ range site.Params.footer.columns }}
                <div class="col-lg-2 col-6 mb-4 mb-lg-0 pt-lg-4 align-self-start">
                    <div class="container-fluid">
                        <h5 class="fw-bold">{{ .title | markdownify }}</h5>
                        {{ range .links }}
                        <div class="col-12">
                            <a href="{{ .URL }}">{{ .name }}</a>
                        </div>
                        {{end}}
                    </div>
                </div>
                {{ end }}
                <div class="col-lg-2 col">
                    <div class="row gy-2 justify-content-center">
                        {{ range site.Params.footer.media_logos }}
                        <div class="col col-lg-12">
                            <a class="d-flex justify-content-center justify-content-lg-start media-icon" target="_blank" href="{{ .URL }}"><img class="w-75" src="{{ .icon }}" /></a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row copyright pt-5 mt-lg-5 pt-lg-5">
                {{ with .Site.Params.footer }}
                <span> {{ .copyright | markdownify }} </span> {{ end }}
            </div>
        </div>
    </section>

    <div class="gototop js-top bg-secondary-subtle rounded">
        <a href="#" class="js-gotop"><i class="fa fa-angle-up"></i></a>
    </div>

    {{ partial "js.html" .}}
</footer>