{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Boxes -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row gy-4">
            {{ range .box_item}}
                {{"<!-- Single Box Item -->" | safeHTML }}
                <div class="col-lg-4 col-12">
                    <a href="{{ .box_link }}">
                        <div class="bg-black h-100 d-flex flex-column">
                            <div class="row">
                                <img src="{{ .image }}" alt="{{ .name | markdownify}}">
                            </div>
                            <div class="flex-grow-1 p-3 align-items-center row">
                                <div class="col-9 col-xs-10 col-lg-9">
                                    <h4>{{ .name | markdownify }}</h4>
                                    <div class="btn btn-secondary">{{ .btn_label | markdownify }}</div>
                                </div>
                                <div class="col-3 col-xs-2 col-lg-3">
                                    <img class="" src="{{ .icon }}" alt="{{ .name | markdownify}}" />
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{"<!-- /Single Box Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{" <!-- /Boxes -->" | safeHTML }}