{{" <!-- Offset Images -->" | safeHTML }}
<section class="generic-offset-images bg-primary">
    <div class="container">
        <div class="col-lg-6 square card hoverable">
            <a href="{{ .image_one_link }}" class="bg-center-cover" style="background: url('{{ .image_one_img }}');">
                <div class="content">
                    <h4>{{ .image_one_title | markdownify }}</h4>
                    <h5>{{ .image_one_subtitle | markdownify }}</h5>
                    <div class="btn btn-white">{{ .image_one_btn_label | markdownify }}</div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 square card hoverable">
            <a href="{{ .image_two_link }}" class="bg-center-cover" style="background: url('{{ .image_two_img }}');">
                <div class="content">
                    <h4>{{ .image_two_title | markdownify }}</h4>
                    <h5>{{ .image_two_subtitle | markdownify }}</h5>
                    <div class="btn btn-white">{{ .image_two_btn_label | markdownify }}</div>
                </div>
            </a>
        </div>
    </div>
</section>
{{" <!-- /Offset Images -->" | safeHTML }}