{{" <!-- Boxes -->" | safeHTML }}
<section class="generic-boxes">
    <!-- <div class="container text-center">
            <h3>{{ .title | markdownify }}</h3>
            <p>{{ .description | markdownify }}</p>
    </div> --> 
    <div class="container container-boxes">
        {{ range .box_item}}
			{{"<!-- Single Box Item -->" | safeHTML }}
			<div class="col-lg-4 col-md-6 col-12 square">
				<a href="{{ .box_link }}" class="single-box-block bg-primary">
                    <div class="single-box-content">
                        <div class="single-box-image">
                            <img src="{{ .image }}">
                        </div>

                        <div class="single-box-bottom">
                            <div class="single-box-text">
                                <h4>{{ .name | markdownify }}</h4>
                            <div class="btn btn-white">{{ .btn_label | markdownify }}</div>
                            <img class="single-box-icon" src="{{ .icon }}" />
                            </div>
                        </div>

                        
                    </div>
				</a>
			</div>
			{{"<!-- /Single Box Item -->" | safeHTML }}
        {{ end }}
    </div>
</section>
{{" <!-- /Boxes -->" | safeHTML }}