{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}
{{"<!-- One Column with only an Image -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row">
            {{/*
                This image is not using the credited image partial as it has custom classes,
                however, this partial is currently not used.
            */}}
            <img src="{{ .img_back }}" class="w-75 h-auto rounded mx-auto d-block"/> 
        </div>
    </div>
</section>
{{"<!-- /One Column with only an Image -->" | safeHTML }}