{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- Double Column Imgs that can be alarged with a click - Text -->" | safeHTML }}
<section class="imgs-text-elarged">
    <div class="container">
        <div class="row upperRow">
            <img src="{{ .img_back }}" onclick="clickedSmall(biggerImage)" class="biggerImage" id="biggerImage"></img>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 imgs">
                <button onclick="clickedBig(biggerImage)" class="buttonBigger" >
                    <img src="{{ .img_back }}"  class="img-back-main"/> 
                </button>
            </div>
            <div class="col-12 col-lg-6">
                <h3>{{ .title | markdownify }}</h3>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</section>
{{"<!-- /Double Column Imgs that can be alarged with a click - Text -->" | safeHTML }}
