{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- Double Column Imgs that can be alarged with a click - Text -->" | safeHTML }}

<section class="imgs-text-elarged">
    <div class="container">
        <div class="col-12 col-lg-6 imgs">
            <div class="modal fad" id="mymodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h3>{{ .title | markdownify }}</h3>
            <p>{{ .description | markdownify }}</p>
        </div>
    </div>
</section>
{{"<!-- /Double Column Imgs that can be alarged with a click - Text -->" | safeHTML }}