{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<nav class="navbar navbar-expand-xl fixed-top shadow-sm bg-white">
    <div class="container">
        {{ $currentPage := . }}
        <a href="/" class="navbar-brand" >
            <img src={{ .Site.Params.logo | absURL }} height="40" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasXl" aria-controls="navbarOffcanvasXl" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasXl" aria-labelledby="navbarOffcanvasXlLabel">
            <div class="offcanvas-header">
                <a href="/" class="offcanvas-title" id="offcanvasNavbarLabel" >
                    <img src={{ .Site.Params.logo | absURL }} height="40" alt="">
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav align-items-center flex-grow-1 pe-3">
                    <div class="vertical-separator d-none d-xl-inline-block"></div>
                    {{ range .Site.Menus.main }}
                        <li class="nav-item {{ if .HasChildren }}dropdown{{ end }}">
                            <a
                                class="nav-link {{ if eq $currentPage.Params.Position .Name }}active{{ end }} {{ if .HasChildren }}dropdown-toggle{{end}}"

                                {{ if eq $currentPage.Params.Position .Name }}aria-current="page"{{ end }}

                                {{ if .HasChildren }}role="button" data-bs-toggle="dropdown" aria-expanded="false"{{end}}

                                href="{{ .URL | absURL }}"
                            >
                                {{ .Name }}
                            </a>
                            {{ if .HasChildren}}
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    {{ range .Children }}
                                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                            {{ end }}
                        </li>
                    {{end}}
                    <div class="flex-xl-fill"></div>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle {{ if or (eq $currentPage.Params.Position "About Us") (eq $currentPage.Params.Position "Contact Us") }}active{{ end }}"

                            role="button" data-bs-toggle="dropdown" aria-expanded="false"

                            {{ if or (eq $currentPage.Params.Position "About Us") (eq $currentPage.Params.Position "Contact Us") }}aria-current="page"{{ end }}
                            
                            href="{{ "/about-us" | absURL }}"
                        >
                            {{/*  <span class="fa fa-chevron-right me-1" aria-hidden="true"></span>  */}}
                            About us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/about-us">About us</a></li>
                            <li><a class="dropdown-item" href="/contact">Contact us</a></li>
                            <li><a class="dropdown-item" href="/register">Register</a></li>
                        </ul>
                    </li>
                    <div class="vertical-separator d-none d-xl-inline-block"></div>
                    <div class="horizontal-spacer d-xl-none"></div>
                    <li class="nav-item ms-2">
                        <a
                            href={{ .Site.Params.web_NOI | absURL }}
                            target="_blank"
                            class="nav-link"
                        >
                            <img src={{ .Site.Params.logo_NOI | absURL }} height="40" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
