<div class="js-sticky">
  <div class="fh5co-main-nav">
    <div class="container">
      {{ $currentPage := . }}
      <div class="header-wrap">
        <div class="fh5co-menu-1">
          <a href="/" class="logo-home"><img src={{ .Site.Params.logo | absURL }} height="40" alt=""></a>
          <div class="vertical-separator"></div>

          {{ range .Site.Menus.main }}
            <a href="{{ .URL | absURL }}" {{ if eq $currentPage.Params.Position .Name }}class="current"{{ end }}>
              <div>{{ .Name }}</div>
            </a>
          {{end}}
        </div>    

        <div class="fh5co-menu-1 float-right">
          <a href="/help" class="menu-item-extra" style="height: 0;"  {{ if eq $currentPage.Params.Position "Help" }}class="current"{{ end }}>
            <span class="fa fa-heart-o bold" style="color: var(--primary); margin-top: -1rem;" aria-hidden="true"></span>
            <span>Help</span>
          </a>

          <div class="vertical-separator"></div>
    
          <a href="/start" class="menu-item-extra" style="height: 0;" {{ if eq $currentPage.Params.Position "Start" }}class="current"{{ end }}>
            <span class="fa fa-chevron-right" style="color: var(--primary); margin-top: -1rem;" aria-hidden="true"></span>
            <span class="icon icon-start">Start now</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
