<div class="js-sticky">
    <div class="fh5co-main-nav">
        <div class="container">
            {{ $currentPage := . }}
            <div class="header-wrap">
                <div class="fh5co-menu-1">
                    <a href="/" {{ if eq $currentPage.Params.Position "Project" }}class="logo-home current" {{ else }}class="logo-home" {{ end }}><img src={{ .Site.Params.logo | absURL }} height="40" alt=""></a>
                    <div class="vertical-separator"></div>
                    <div class="nav-links">
                        {{ range .Site.Menus.main }}
                        <div {{ if eq $currentPage.Params.Position .Name }}class="expanded current nav-link" {{ else }}class="not-current nav-link" {{ end }}>
                            <a {{ if .HasChildren }}class="nav-link-name" {{ else }}class="nav-link-name no-children" {{ end }} href="{{ .URL | absURL }}">{{ .Name }}</a> {{ if .HasChildren }}
                            <div class="sub-menu">
                                {{ range .Children }}
                                <a href="{{ .URL }}">{{ .Name }}</a> {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        {{end}}
                    </div>

                </div>

                <div class="fh5co-menu-1 float-right">
                    <div class="nav-links">
                        <div {{ if or (eq $currentPage.Params.Position "contact") (eq $currentPage.Params.Position "about-us") }} class="expanded current nav-link" {{ else }} class="not-current nav-link" {{ end }}>
                            <a class="nav-link-name none-float" href="/about-us">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span>About us</span></a>
                            <div class="sub-menu">
                                <a href="/about-us">About us</a>
                                <a href="/contact">Contact us</a>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-separator"></div>
                    <a href={{ .Site.Params.web_NOI | absURL }} target="_blank" class="logo-home" style="margin-left: 15px;"><img src={{ .Site.Params.logo_NOI | absURL }} height="40" alt=""></a>

                </div>

            </div>
        </div>
    </div>
</div>