{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<section style="padding: 3rem 0;">

    <div class="quickstart-boxes container">

        {{ range .Pages }}
            <a target="_blank" href="{{ .Params.button_link }}" class="col-lg-4 col-md-6 col-12">
                <div class="qs-box">
                    <h6 class="title">{{ .Title }}</h6>

                    <div class="content">{{ .Content }}</div>

                    <div class="btn btn-primary">{{ .Params.button_label }}</div>
                </div>
            </a>
        {{ end }}

    </div>
</section>