{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<section>
    <div class="container">
        <div class="row gy-5">
            {{ range .Pages }}
            <div class="col-lg-4 col-md-6 col-12">
                <a target="_blank" href="{{ .Params.button_link }}" class="quickstart-box">
                    <div class="bg-primary-subtle border-bottom border-5 px-4 pt-5 pb-4 h-100 d-flex flex-column align-items-start">
                        <h5 class="fw-bold">{{ .Title }}</h5>
        
                        <div class="flex-grow-1 my-2">{{ .Content }}</div>
        
                        <div class="btn btn-primary d-inline">{{ .Params.button_label }}</div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>