{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- quote -->" | safeHTML }}
<section>
	<div class="container">
		<div class="testimonial-quote group">
			<div class="quote-container">
				<blockquote>
					<p>{{ .description | markdownify }}</p>
				</blockquote>
				<cite><span>{{ .title | markdownify }}</span><br>
					{{ .subtitle | markdownify }}<br>
				</cite>
			</div>
		</div>
	</div>
</section>
{{"<!-- quote -->" | safeHTML }}
