{{/*
SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

    SPDX-License-Identifier: AGPL-3.0-or-later
    */}}
    

<section class=" mt-1 sidebar container">
    <h2>Recurring events</h2>
    <p class="fw-semibold fs-5 lh-base"> Find recurring Open Data Hub events here</p>
    <div class="row">
        <p class="fw-semibold fs-6 lh-base mb-0">Monthly</p>
        <img src="../../img/Event_Page_Button_SDT.png" />
        <p class="fw-semibold fs-6 lh-base mb-0">May</p>
        <img src="../../img/Event_Page_Button_ODH DAY.png" />
        <p class="fw-semibold fs-6 lh-base mb-0">August</p>
        <img src="../../img/Event_Page_Button_HACKATHON.png" />
        <p class="fw-semibold fs-6 lh-base mb-0">November</p>
        <img src="../../img/Event_Page_Button_SFSCON.png" />
        <img src="../../img/Event_Page_Button_HACKATHON.png" />
    </div>
</section>