{{/*
SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

    SPDX-License-Identifier: AGPL-3.0-or-later
    */}}
    
<!-- <section>
<h2> Reoccuring events </h2>
<div class="row align-items-end" >
    <div>
        <p class="fw-semibold fs-5 lh-base">Monthly</p> 
        <img src="../../img/Event_Page_Button_SDT.png" />  
    </div>
    <div>
        <p class="fw-semibold fs-5 lh-base">May</p>
        <img src="../../img/Event_Page_Button_ODH DAY.png" />  
    </div>
    <div>
        <p class="fw-semibold fs-5 lh-base">August</p>
        <img src="../../img/Event_Page_Button_HACKATHON.png" />
    </div>
    <div>
        <p class="fw-semibold fs-5 lh-base">November</p>
        <img src="../../img/Event_Page_Button_SFSCON.png" />
        <img src="../../img/Event_Page_Button_HACKATHON.png" /> 
    </div>
    
       
</div>
</section> -->


<section>
    <h2>Reoccuring events</h2>
    <div class="row">
        <p class="fw-semibold fs-5 lh-base mb-0">Monthly</p>
        <img src="../../img/Event_Page_Button_SDT.png" />
        <p class="fw-semibold fs-5 lh-base mb-0">May</p>
        <img src="../../img/Event_Page_Button_ODH DAY.png" />
        <p class="fw-semibold fs-5 lh-base mb-0">August</p>
        <img src="../../img/Event_Page_Button_HACKATHON.png" />
        <p class="fw-semibold fs-5 lh-base mb-0">November</p>
        <img src="../../img/Event_Page_Button_SFSCON.png" />
        <img src="../../img/Event_Page_Button_HACKATHON.png" />
    </div>
</section>