{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- Single Column Imgs - Text -->" | safeHTML }}
<section class="single-col-imgs-text">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="{{ .img_back }}"/> 
            </div>
        </div>
    </div>
</section>
{{"<!-- /Single Column Imgs - Text -->" | safeHTML }}