{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<section class="logo-slideshow">
  <div class="container">
    <script defer src="/js/slideshow.js"></script>

    <div class="d-none" id="community-data">
      {{ range .dataCommunity.providers.items }}
        <div class="single-provider">
          <div class="name">{{ .name }}</div>
          <div class="img">{{ .img }}</div>
          <div class="link">{{ .link }}</div>
        </div>
      {{ end }}
      {{ range .dataCommunity.consumers.items }}
        <div class="single-provider">
          <div class="name">{{ .name }}</div>
          <div class="img">{{ .img }}</div>
          <div class="link">{{ .link }}</div>
        </div>
      {{ end }}
    </div>

    <div class="col-12 text-center">
      <h3>{{ .dataHome.community.title | markdownify }}</h3>
    </div>

    <div id="slides-container" class="my-3"></div>

    <div class="col-12 text-center">
      <a href="{{ .dataHome.community.btn_link }}" class="btn btn-primary">{{ .dataHome.community.btn_label | markdownify }}</a>
    </div>
  </div>
</section>