{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<div class="container">
  <a href="{{.btn_top_link}}" class="btn btn-primary mb-4" onclick="{{ .btn_top_on_click }}">{{ .btn_top_label | markdownify }}</a>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="">
          {{ range .header }}
            <th width= {{.width}}>
              {{.title}}
            </th>
          {{ end }}
        </tr>
      </thead>

      <tbody class="">
        {{ range .row }}
          <tr class="">
            {{ range .cols }}
              {{ if isset . "content" }}
                <td>{{ .content | safeHTML}}</td>
              {{end}} {{ if isset . "slidesLink" }}
                <td><a href="{{.slidesLink}}" class="btn btn-primary d-flex gap-1 align-items-center me-3">Slides</a></td>
              {{end}} {{ if isset . "videoLink" }}
                <td><a href="{{.videoLink}}" class="btn btn-primary d-flex gap-1 align-items-center ms-3" target="_blank">Video</a></td>
              {{end}}
            {{ end }}
          </tr>
        {{ end }}
      </tbody> 
    </table>
  </div>

  <a href="{{.btn_down_link}}" class="btn btn-primary mb-4" onclick="{{ .btn_down_on_click }}">{{ .btn_down_label | markdownify }}</a>

  <div class="table-responsive">
    <table class="table">
      <thead>
          <tr>
            {{ range .headerPR }}
            <th width= {{.width}}>
              {{.title}}
            </th>
            {{ end }}
          </tr>
      </thead>

      <tbody>
        {{ range .rowPR }}
        <tr>
          {{ range .colsPR }}
            {{ if isset . "content" }}
              <td>{{ .content | safeHTML}}</td>
            {{end}} {{ if isset . "pressReleaseLink" }}
              <td><a href="{{.pressReleaseLink}}" class="btn btn-primary d-flex gap-1 align-items-center">Press Release</a></td>
            {{end}}
          {{ end }}
        </tr>
        {{ end }}
      </tbody> 
    </table>
  </div>
</div>

