<div >
  <div class="container">  
    <a href="{{.btn_link}}" class="btn btn-primary" style="margin:20px">{{ .btn_label | markdownify }}</a>
 </div>
  <div class="container">
    <table>
     <thead>
       <tr>
         {{ range .header }}
         <th width= {{.width}}>
           {{.title}}
         </th>
         {{ end }}
       </tr>
     </thead>

     <tbody>
       {{ range .row }}
       <tr>
         {{ range .cols }}
           <td>{{ .content }}</td>
         {{ end }}
       </tr>
       {{ end }}
     </tbody> 
   </table>
 </div>
 <div class="container">  
    <a href="{{.btn_link}}" class="btn btn-primary" style="margin:20px">{{ .btn_label | markdownify }}</a>
 </div>
</div>
