{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<div id="table-comparison">
  <div class="container">

    <ul>
      {{ range .header }}
      <li class="{{.color_class}}"><button>{{.title}} {{.price}}</button></th>
      {{ end }}
    </ul>  
    
    
    <table>
      <thead>
        <tr>
          <th class="hide" style="display: block !important;"></th>

          {{ range .header }}
          <th class="{{.color_class}}">
            <h6>{{.title}}</h6>
            <span class="price">{{ .price }}</span>
          </th>
          {{ end }}
        </tr>
      </thead>

      <tbody>
        {{ range .row }}
        <tr>
          {{ range .cols }}
          <td>{{ .content | safeHTML }}</td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  
</div>