{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<div class="container">
  {{ if and (.btn_top_label) (.btn_top_link) }}
    <a href="{{.btn_top_link}}" class="btn btn-primary mb-4" target="_blank" onclick="{{ .btn_top_on_click }}">{{ .btn_top_label | markdownify }}</a>
  {{ end }}
  {{ if (.title_main)}}
    <a href="#main-room" class="btn btn-primary mb-4">{{ .title_main | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room2)}}
    <a href="#room2" class="btn btn-primary mb-4">{{ .title_room2 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room3)}}
    <a href="#room3" class="btn btn-primary mb-4">{{ .title_room3 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room4)}}
    <a href="#room4" class="btn btn-primary mb-4">{{ .title_room4 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_Press)}}
    <a href="#press-release" class="btn btn-primary mb-4">{{ .title_Press | markdownify }}</a>
  {{ end }}

  {{ if and (.title_main) }}
    <h2 id="main-room">{{ .title_main | markdownify }}</h2>
  {{ end }}

  {{ if and (.description_main) }}
    <p class="fw-semibold fs-5 lh-base">{{ .description_main | markdownify }}</p>
  {{ end }}
 
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="">
          {{ range .header }}
            <th width= {{.width}}>
              {{.title}}
            </th>
          {{ end }}
        </tr>
      </thead>
      
      <tbody class="">
        {{ range .row }}

        {{ partial "table-program-rows.html" . }}

        {{ end }}
      </tbody> 
    </table>
  </div>

  {{ if and (.btn_room2_label) (.btn_room2_link) }}
    <a href="{{.btn_room2_link}}" target="_blank" class="btn btn-primary mb-4" onclick="{{ .btn_room2_on_click }}">{{ .btn_room2_label | markdownify }}</a>
  {{ end }}
  {{ if and (.title_room2) (.title_main)}}
    <a href="#main-room" class="btn btn-primary mb-4">{{ .title_main | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room2)}}
    <a href="#room2" class="btn btn-primary mb-4">{{ .title_room2 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room2) (.title_room3)}}
    <a href="#room3" class="btn btn-primary mb-4">{{ .title_room3 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room2) (.title_room4)}}
    <a href="#room4" class="btn btn-primary mb-4">{{ .title_room4 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room2) (.title_Press)}}
    <a href="#press-release" class="btn btn-primary mb-4">{{ .title_Press | markdownify }}</a>
  {{ end }}
  
  {{ if and (.title_room2) }}
    <h2 id="room2">{{ .title_room2 | markdownify }}</h2>
  {{ end }}

  {{ if and (.description_room2) }}
    <p class="fw-semibold fs-5 lh-base">{{ .description_room2 | markdownify }}</p>
  {{ end }}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="">
          {{ range .header_room2 }}
            <th width= {{.width}}>
              {{.title}}
            </th>
          {{ end }}
        </tr>
      </thead>

      <tbody class="">
        {{ range .row_room2 }}
  
        {{ partial "table-program-rows.html" . }}
  
        {{ end }}
      </tbody> 
    </table>
  </div>

  {{ if and (.btn_room3_label) (.btn_room3_link) }}
    <a href="{{.btn_room3_link}}" target="_blank" class="btn btn-primary mb-4" onclick="{{ .btn_room3_on_click }}">{{ .btn_room3_label | markdownify }}</a>
  {{ end }}
  {{ if and (.title_room3) (.title_main)}}
    <a href="#main-room" class="btn btn-primary mb-4">{{ .title_main | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room3) (.title_room2)}}
    <a href="#room2" class="btn btn-primary mb-4">{{ .title_room2 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room3)}}
    <a href="#room3" class="btn btn-primary mb-4">{{ .title_room3 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room3) (.title_room4)}}
    <a href="#room4" class="btn btn-primary mb-4">{{ .title_room4 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room3) (.title_Press)}}
    <a href="#press-release" class="btn btn-primary mb-4">{{ .title_Press | markdownify }}</a>
  {{ end }}
  
  {{ if and (.title_room3) }}
    <h2 id="room3">{{ .title_room3 | markdownify }}</h2>
  {{ end }}

  {{ if and (.description_room3) }}
    <p class="fw-semibold fs-5 lh-base">{{ .description_room3 | markdownify }}</p>
  {{ end }}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="">
          {{ range .header_room3 }}
            <th width= {{.width}}>
              {{.title}}
            </th>
          {{ end }}
        </tr>
      </thead>

      <tbody class="">
        {{ range .row_room3 }}
  
        {{ partial "table-program-rows.html" . }}
  
        {{ end }}
      </tbody> 
    </table>
  </div>

  {{ if and (.btn_room4_label) (.btn_room4_link) }}
    <a href="{{.btn_room4_link}}" target="_blank" class="btn btn-primary mb-4" onclick="{{ .btn_room4_on_click }}">{{ .btn_room4_label | markdownify }}</a>
  {{ end }}
  {{ if and (.title_room4) (.title_main)}}
    <a href="#main-room" class="btn btn-primary mb-4">{{ .title_main | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room4) (.title_room2)}}
    <a href="#room2" class="btn btn-primary mb-4">{{ .title_room2 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room4) (.title_room3)}}
    <a href="#room3" class="btn btn-primary mb-4">{{ .title_room3 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room4)}}
    <a href="#room4" class="btn btn-primary mb-4">{{ .title_room4 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_room4) (.title_Press)}}
    <a href="#press-release" class="btn btn-primary mb-4">{{ .title_Press | markdownify }}</a>
  {{ end }}
  
  {{ if and (.title_room4) }}
    <h2 id="room3">{{ .title_room4 | markdownify }}</h2>
  {{ end }}

  {{ if and (.description_room4) }}
    <p class="fw-semibold fs-5 lh-base">{{ .description_room4 | markdownify }}</p>
  {{ end }}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="">
          {{ range .header_room4 }}
            <th width= {{.width}}>
              {{.title}}
            </th>
          {{ end }}
        </tr>
      </thead>

      <tbody class="">
        {{ range .row_room4 }}
  
        {{ partial "table-program-rows.html" . }}
  
        {{ end }}
      </tbody> 
    </table>
  </div>

  {{ if and (.btn_press_label) (.btn_press_link) }}
    <a href="{{.btn_press_link}}" target="_blank" class="btn btn-primary mb-4" onclick="{{ .btn_press_on_click }}">{{ .btn_press_label | markdownify }}</a>
  {{ end }}
  {{ if and (.title_press)  (.title_main)}}
    <a href="#main-room" class="btn btn-primary mb-4">{{ .title_main | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_press) (.title_room2)}}
    <a href="#room2" class="btn btn-primary mb-4">{{ .title_room2 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_press) (.title_room3)}}
    <a href="#room3" class="btn btn-primary mb-4">{{ .title_room3 | markdownify }} programme</a>
  {{ end }}
  {{ if and (.title_press) (.title_room4)}}
    <a href="#room4" class="btn btn-primary mb-4">{{ .title_room4 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_Press)}}
    <a href="#press-release" class="btn btn-primary mb-4">{{ .title_Press | markdownify }}</a>
  {{ end }}

  {{ if and (.title_press) }}
    <h2 id="press-release">{{ .title_press | markdownify }}</h2>
  {{ end }}

  {{ if and (.description_press) }}
    <p class="fw-semibold fs-5 lh-base">{{ .description_press | markdownify }}</p>
  {{ end }}

  <div class="table-responsive">
    <table class="table">
      <thead>
          <tr>
            {{ range .headerPR }}
              <th width= {{.width}}>
              {{.title}}
              </th>
            {{ end }}
          </tr>
      </thead>

      <tbody>
        {{ range .rowPR }}
        <tr>
          {{ range .colsPR }}
            {{ if isset . "content" }}
              <td>{{ .content | safeHTML}}</td>
            {{end}} {{ if isset . "pressReleaseLink" }}
              <td><a href="{{.pressReleaseLink}}" class="btn btn-primary d-flex gap-1 align-items-center" target="_blank">Press Release</a></td>
            {{end}} {{ if isset . "photoLink" }}
              <td><a href="{{.photoLink}}" class="btn btn-primary d-flex gap-1 align-items-center" target="_blank">Photo gallery</a></td>
            {{end}} {{ if isset . "videoLink" }}
              <td><a href="{{.videoLink}}" class="btn btn-primary d-flex gap-1 align-items-center" target="_blank">Video</a></td>
            {{end}}
          {{ end }}
        </tr>
        {{ end }}
      </tbody> 
    </table>
  </div>

  {{ if and (.btn_down_label) (.btn_down_link) }}
    <a href="{{.btn_down_link}}" target="_blank" class="btn btn-primary mb-4" onclick="{{ .btn_down_on_click }}">{{ .btn_down_label | markdownify }}</a>
  {{ end }}
  {{ if (.title_main)}}
    <a href="#main-room" class="btn btn-primary mb-4">{{ .title_main | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room2)}}
    <a href="#room2" class="btn btn-primary mb-4">{{ .title_room2 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room3)}}
    <a href="#room3" class="btn btn-primary mb-4">{{ .title_room3 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_room4)}}
    <a href="#room4" class="btn btn-primary mb-4">{{ .title_room4 | markdownify }} programme</a>
  {{ end }}
  {{ if (.title_Press)}}
    <a href="#press-release" class="btn btn-primary mb-4">{{ .title_Press | markdownify }}</a>
  {{ end }}
</div>

