{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- Double Column Text - Imgs -->" | safeHTML }}
<section>
	<div class="container">
			<div class="text-imgs-long-margin col-12 col-lg-20" >
				<h2>{{ .title | markdownify }}</h2>
				<p>{{ .description | markdownify }} </p>
	
				
			</div>
			<div class="col-12 col-lg-6 imgs">
				{{ partial "_img-credited.html" . }}
			</div>
	</div>
</section>
{{"<!-- /Double Column Text - Imgs -->" | safeHTML }}
