{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{"<!-- Double Column Text - Imgs -->" | safeHTML }}
<section>
	<div class="container">
			<div class="text-imgs-long-margin col-12 col-lg-20" >
				<h3>{{ .title | markdownify }}</h3>
				<p>{{ .description | markdownify }} </p>
	
				
			</div>
			<div class="col-12 col-lg-6 imgs">
				<img src="{{ .img_back }}" class="img-back" />
			</div>
	</div>
</section>
{{"<!-- /Double Column Text - Imgs -->" | safeHTML }}
