{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title -->" | safeHTML }}
<section class="title">
    <div class="container">
        <div class="container-content">
            <h1 class="primary">{{ .title | markdownify }}</h1>
            {{ with .subtitle }}<h2 class="subtitle">{{ . | markdownify }}</h2>{{ end }}
        </div>

        <div class="category-wrapper">
            <div class="category-selector">
                <select class="form-select" onChange="window.location.href=this.value">
                    <option value="/datasets/">All Datasets</option>
                    
                    {{ $currentPage := . }}
                    {{ range site.Taxonomies.datatype }}
                    <option value="/datatype/{{ lower .Page.Title }}" {{ if eq $currentPage.title .Page.Title }}selected{{ end }}>{{ .Page.Title }}</option>
                    {{ end }}
                    
                </select>
                <script src="/js/datasets-filter.js" defer></script>
                <select class="form-select availability-select" onChange="filterDatasets(this.value)">
                    <option value="all">All Data</option>
                    <option value="open">Open Data</option>
                    <option value="closed">On Request Data</option>
                </select>
            </div>
        </div>
        
    </div>
</section>
{{" <!-- /Title -->" | safeHTML }}