{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title -->" | safeHTML }}
<section>
    {{ partial "title.html" . }}

    <div class="container mt-2">
        <div class="d-flex justify-content-start gap-1">
            <select onChange="window.location.href=this.value">
                <option value="/datasets/">All Datasets</option>
                
                {{ $currentPage := . }}
                {{ range site.Taxonomies.datatype }}
                <option value="/datatype/{{ lower .Page.Title }}" {{ if eq $currentPage.title .Page.Title }}selected{{ end }}>{{ .Page.Title }}</option>
                {{ end }}
            </select>
            <select id="availability-select" onChange="filterDatasets(this.value)">
                <option value="all">All Data</option>
                <option value="open">Open Data</option>
                <option value="closed">On Request Data</option>
            </select>
        </div>
    </div>
    <script src="/js/datasets-filter.js" defer></script>
</section>
{{" <!-- /Title -->" | safeHTML }}