{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title with Call To Action -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-12 col-lg m-lg-0">
                <div class="upper">{{ .description | markdownify }}</div>
                <h1 class="primary">{{ .title | markdownify }}</h1>
                {{ with .subtitle }}<h2 class="subtitle">{{ . | markdownify }}</h2>{{ end }}
                {{ if and (isset . "btn_link") (isset . "btn_label") }}
                <a {{ if .target_blank }}target="_blank"{{ end }} href="{{.btn_link}}" class="btn btn-primary">{{ .btn_label | markdownify }}</a>
                {{ end }}
            </div>
            <div class="col-lg-1 m-0"></div>
            <div class="col-12 col-lg d-flex justify-content-center justify-content-lg-end m-lg-0">
                {{ if isset . "video"}}
                {{ partial "video-iframe.html" . }}
                {{ else }}
                <div class="position-relative">
                    <button type="button" class="btn btn-primary bg-transparent border-0 btn-xl flex-row" id="btn-img-open" data-bs-toggle="modal" data-bs-target="#Modal-text-img{{ sha1 .img_back }}">
                        <div class="w-100 h-100 position-relative" id="container">
                            <div class="overlay">
                                <div class="content">
                                    <i class="fa fa-search fa-2x" aria-hidden="true" id="magnifying-glass"></i>
                                    <br><br>
                                    <a>Click to make the image bigger</a>
                                </div>                                
                            </div>
                            <img src="{{ .img_back }}" id="main-image">
                            {{with .image_credit}}
                            <div class="d-inline position-absolute bottom-0 end-0 bg-secondary-subtle bg-opacity-75 rounded m-2" id="imageCredit">
                                <div class="m-2" id="textCreditImage">{{.| markdownify}}</div>
                            </div>
                            {{end}}
                        </div>                        
                    </button>
                  </div>
                  <div class="modal fade modalClose" id="Modal-text-img{{ sha1 .img_back }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0">
                                <img src="{{ .img_back }}" class="mw-100">
                            </div>
                            {{with .image_summary}}
                            <div class="modal-footer border-0 flex-row-reverse">                               
                                <a>{{.| markdownify}}</a>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{" <!-- /Title CTA -->" | safeHTML }}