{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Section Title -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <h3>{{ .title | markdownify }}</h3>
                {{ with .subtitle }}<span class="subtitle">{{ . | markdownify }}</span>{{ end }}
            </div>
        </div>
    </div>
</section>
{{" <!-- /Section Title -->" | safeHTML }}