{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title with Call To Action -->" | safeHTML }}
<section class="title-cta">
    <div class="container">
        <div class="container-content">
            <div class="text-content">
                <p class="upper">{{ .description | markdownify }}</p>
                <h1 class="primary">{{ .title | markdownify }}</h1>
                <h2 class="subtitle">{{ .subtitle | markdownify }}</h2>
            </div>
            <!-- <video class="title-video" width="384" height="216" controls>
                <source src="{{ .video }}">
            </video> -->
            <iframe 
                class="title-video"
                src="{{ .video }}"
                width="480"
                height="270"
                frameborder="0"
                allow="autoplay; fullscreen;"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</section>
{{" <!-- /Title CTA -->" | safeHTML }}