{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title -->" | safeHTML }}
<section>
    {{ partial "title.html" . }}

    <div class="container py-2">
        <div class="row gy-2">
            <div class="col-12 col-lg-2">
                <select class="select-element border-0 form-control" onChange="window.location.href=this.value">
                    <option value="/datasets/">All Datasets</option>
                    
                    {{ $currentPage := . }}
                    {{ range site.Taxonomies.datatype }}
                    <option value="/datatype/{{ lower .Page.Title }}" {{ if eq $currentPage.title .Page.Title }}selected{{ end }}>{{ .Page.Title }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="col-12 col-lg-2">
                <select id="availability-select" class="select-element border-0 form-control" onChange="filterDatasets(this.value)">
                    <option value="all">All Data</option>
                    <option value="open">Open Data</option>
                    <option value="closed">On Request Data</option>
                </select>
            </div>
        </div>
    </div>
    <script src="/js/datasets-filter.js" defer></script>
</section>
{{" <!-- /Title -->" | safeHTML }}