{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title -->" | safeHTML }}
<section>
    <div class="container">
        <div class="row justify-content-between gy-3">
            <div class="col-12 col-lg-6">
                <h2>{{ .title | markdownify }}</h2>
                {{ with .subtitle }}<h2 class="subtitle">{{ . | markdownify }}</h2>{{ end }}
            </div>
            <div class="col-12 col-lg-4">
                <div class="bg-black px-4 py-5">
                    <h3 class="bold">You can also</h3>
                    <span>Send us an email</span>
    
                    {{ with .contact_email }}
                        <div>
                            <a class="" href="mailto:{{.}}" class="bold bigger">{{ . }}</a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{" <!-- /Title -->" | safeHTML }}