{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title with Call To Action -->" | safeHTML }}
<section class="title-cta">
    <div class="container">
        <div class="container-content">
            <div class="text-content">
                <p class="upper">{{ .description | markdownify }}</p>
                <h1 class="primary">{{ .title | markdownify }}</h1>
                <h2 class="subtitle">{{ .subtitle | markdownify }}</h2>
                <a {{ if .target_blank }}target="_blank"{{ end }} href="{{.btn_link}}" class="btn btn-primary">{{ .btn_label | markdownify }}</a>
            </div>
            <!-- <video class="title-video" width="384" height="216" controls>
                <source src="{{ .video }}">
            </video> -->
            <div class="col-12 col-lg-6 imgs text-imgs-icon" id="title-cta-img-margin"
        >
                <img src="{{ .img_back }}" class="img-back" />
            </div>
        </div>
    </div>
</section>
{{" <!-- /Title CTA -->" | safeHTML }}