{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{" <!-- Title -->" | safeHTML }}
<section>
    {{ partial "title.html" .Params }}

    <div class="container">
        <select onChange="window.location.href=this.value">
            <option value="/use-cases/">All Types</option>

            {{ $params := .Params }}
            {{ range .FirstSection.Sections }}
            <option value="/use-cases/{{ lower .Title }}" {{ if eq $params.title .Title }}selected{{ end }}>{{ .Title }}</option>
            {{ end }}
        </select>
    </div>
</section>
{{" <!-- /Title -->" | safeHTML }}