{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}

<a id="sm-tag-upcoming-events"></a>
<section class="bg-darker pb-5">
	{{ partial "title-section.html" site.Data.events.upcoming }}
	<div class="container">
		<div class="row">
			{{ range sort .RegularPagesRecursive ".Params.day" "asc" }}
				{{ if ge (time .Params.day).Unix now.Unix }}
					{{ partial "event-box.html" (dict "page" . "darker" false )}}
				{{ end }}
			{{ end }}
		</div>
	</div>
</section>

<a id="sm-tag-past-events"></a>
<section class="py-5">
	{{ partial "title-section.html" site.Data.events.past }}
	<div class="container mt-5">
		<div class="row g-5">
			{{ range sort .RegularPagesRecursive ".Params.day" "desc"}}
				{{ if lt (time .Params.day).Unix now.Unix }}
					{{ partial "event-box.html" (dict "page" . "darker" true )}}
				{{ end }}
			{{ end }}
		</div>
	</div>
</section>

{{ end }}