{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "nav.html" . }}
{{ partial "title.html" .Params }}

{{ range sort .Pages "Params.short.weight" "asc" }}
  <section {{ if .Params.short.bg_darker }}class="bg-darker"{{ end }} id="use-cases">
    {{ partial .Params.short.partial .Params.short }}
  </section>
{{ end }}

<a id="sm-tag-use-cases"></a>
<section id="use-cases">
  {{ partial "text-imgs-icon.html" site.Data.usecases.contact_us }}
</section>

{{ end }}