{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}
<br>
<div class="container py-2">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#colors-content" aria-expanded="true" aria-controls="#colors-content" class="d-inline video-section-title" id="colors">
        <a href="#colors" class="anchor-link">
            <strong>Colors</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="false"></i>
    </h3>
    <div class="video collapse show" id="colors-content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 mb-3">
                <div class="border border-black text-center py-3" style="background-color: #212529; color: white;">
                    <h5 class="fw-bold">Font Color</h5>
                    <p style="margin-bottom: 0px;">#212529</p>
                </div>
            </div>
        </div>
    <div class="row">
        <P class="fw-bold" style="margin-top: 16px;" >OPEN DATA HUB COLOR PALETTE</P>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="bg-white border border-black  text-center py-3">
                <h5 class="fw-bold">Primary Color</h5>
                <p style="margin-bottom: 0px;">#FFFFFF</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="bg-black  text-center py-3">
                <h5 class="fw-bold">Secondary Color</h5>
                <p style="margin-bottom: 0px;">#000000</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="bg-primary-subtle border border-black text-center py-3">
                <h5 class="fw-bold">Tertiary Color</h5>
                <p style="margin-bottom: 0px;">#f3f3f3</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="text-center py-3" style="background-color: #565e64; color: white;">
                <h5 class="fw-bold">Quaternary Color</h5>
                <p style="margin-bottom: 0px;">#565e64</p>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="fw-bold " style="margin-top: 16px;" >EVENTS COLOR PALETTE</p>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="bg-white border border-black  text-center py-3">
                <h5 class="fw-bold">Primary Color</h5>
                <p style="margin-bottom: 0px;">#FFFFFF</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="bg-black  text-center py-3">
                <h5 class="fw-bold">Secondary Color</h5>
                <p style="margin-bottom: 0px;">#000000</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mb-3">
            <div class="text-center py-3" style="background-color: #50742f; color: white;">
                <h5 class="fw-bold">Tertiary Color</h5>
                <p style="margin-bottom: 0px;">#50742f</p>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#typography-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="typography">
        <a href="#typography" class="anchor-link fw-semibold">
            <strong>Typography</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="typography-content">
        <p> The font used is Open Sans font, the body text is 16px </p>    
        <div> 
            <p class="fw-bold ">CHARACTERS</p> 
        </div> 
        <div class="row gy-4">
            <div class="col-lg-8"> 
				<p> A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌А​‌Б​‌В​‌Г​‌Ґ​‌Д​‌Ђ​‌Е​‌Ё​‌Є​‌Ж​‌З​‌Ѕ​‌И​‌І​‌Ї​‌Й​‌Ј​‌К​‌Л​‌Љ​‌М​‌Н​‌Њ​‌О​‌П​‌Р​‌С​‌Т​‌Ћ​‌У​‌Ў​‌Ф​‌Х​‌Ц​‌Ч​‌Џ​‌Ш​‌Щ​‌Ъ​‌Ы​‌Ь​‌Э​‌Ю​‌Я​‌а​‌б​‌в​‌г​‌ґ​‌д​‌ђ​‌е​‌ё​‌є​‌ж​‌з​‌ѕ​‌и​‌і​‌ї​‌й​‌ј​‌к​‌л​‌љ​‌м​‌н​‌њ​‌о​‌п​‌р​‌с​‌т​‌ћ​‌у​‌ў​‌ф​‌х​‌ц​‌ч​‌џ​‌ш​‌щ​‌ъ​‌ы​‌ь​‌э​‌ю​‌я​‌Α​‌Β​‌Γ​‌Δ​‌Ε​‌Ζ​‌Η​‌Θ​‌Ι​‌Κ​‌Λ​‌Μ​‌Ν​‌Ξ​‌Ο​‌Π​‌Ρ​‌Σ​‌Τ​‌Υ​‌Φ​‌Χ​‌Ψ​‌Ω​‌α​‌β​‌γ​‌δ​‌ε​‌ζ​‌η​‌θ​‌ι​‌κ​‌λ​‌μ​‌ν​‌ξ​‌ο​‌π​‌ρ​‌σ​‌τ​‌υ​‌φ​‌χ​‌ψ​‌ω​‌ά​‌Ά​‌έ​‌Έ​‌έ​‌Ή​‌ί​‌ϊ​‌ΐ​‌Ί​‌ό​‌Ό​‌ύ​‌ΰ​‌ϋ​‌Ύ​‌Ϋ​‌ὰ​‌ά​‌ὲ​‌έ​‌ὴ​‌ή​‌ὶ​‌ί​‌ὸ​‌ό​‌ὺ​‌ύ​‌ὼ​‌ώ​‌Ώ​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
                </p>
            </div>
            <!-- Styles Section -->
        <p class="fw-bold">STYLES</p>
        <div class="row row-cols-lg-2">
            <!-- Regular -->
            <div class="col">
                <p>Regular</p>
				<p> A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌А​‌Б​‌В​‌Г​‌Ґ​‌Д​‌Ђ​‌Е​‌Ё​‌Є​‌Ж​‌З​‌Ѕ​‌И​‌І​‌Ї​‌Й​‌Ј​‌К​‌Л​‌Љ​‌М​‌Н​‌Њ​‌О​‌П​‌Р​‌С​‌Т​‌Ћ​‌У​‌Ў​‌Ф​‌Х​‌Ц​‌Ч​‌Џ​‌Ш​‌Щ​‌Ъ​‌Ы​‌Ь​‌Э​‌Ю​‌Я​‌а​‌б​‌в​‌г​‌ґ​‌д​‌ђ​‌е​‌ё​‌є​‌ж​‌з​‌ѕ​‌и​‌і​‌ї​‌й​‌ј​‌к​‌л​‌љ​‌м​‌н​‌њ​‌о​‌п​‌р​‌с​‌т​‌ћ​‌у​‌ў​‌ф​‌х​‌ц​‌ч​‌џ​‌ш​‌щ​‌ъ​‌ы​‌ь​‌э​‌ю​‌я​‌Α​‌Β​‌Γ​‌Δ​‌Ε​‌Ζ​‌Η​‌Θ​‌Ι​‌Κ​‌Λ​‌Μ​‌Ν​‌Ξ​‌Ο​‌Π​‌Ρ​‌Σ​‌Τ​‌Υ​‌Φ​‌Χ​‌Ψ​‌Ω​‌α​‌β​‌γ​‌δ​‌ε​‌ζ​‌η​‌θ​‌ι​‌κ​‌λ​‌μ​‌ν​‌ξ​‌ο​‌π​‌ρ​‌σ​‌τ​‌υ​‌φ​‌χ​‌ψ​‌ω​‌ά​‌Ά​‌έ​‌Έ​‌έ​‌Ή​‌ί​‌ϊ​‌ΐ​‌Ί​‌ό​‌Ό​‌ύ​‌ΰ​‌ϋ​‌Ύ​‌Ϋ​‌ὰ​‌ά​‌ὲ​‌έ​‌ὴ​‌ή​‌ὶ​‌ί​‌ὸ​‌ό​‌ὺ​‌ύ​‌ὼ​‌ώ​‌Ώ​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
                </p>
            </div>
            <!-- Regular Italic -->
            <div class="col">
                <p><i>Regular Italic</i></p>
                <p>
                    <i>A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌А​‌Б​‌В​‌Г​‌Ґ​‌Д​‌Ђ​‌Е​‌Ё​‌Є​‌Ж​‌З​‌Ѕ​‌И​‌І​‌Ї​‌Й​‌Ј​‌К​‌Л​‌Љ​‌М​‌Н​‌Њ​‌О​‌П​‌Р​‌С​‌Т​‌Ћ​‌У​‌Ў​‌Ф​‌Х​‌Ц​‌Ч​‌Џ​‌Ш​‌Щ​‌Ъ​‌Ы​‌Ь​‌Э​‌Ю​‌Я​‌а​‌б​‌в​‌г​‌ґ​‌д​‌ђ​‌е​‌ё​‌є​‌ж​‌з​‌ѕ​‌и​‌і​‌ї​‌й​‌ј​‌к​‌л​‌љ​‌м​‌н​‌њ​‌о​‌п​‌р​‌с​‌т​‌ћ​‌у​‌ў​‌ф​‌х​‌ц​‌ч​‌џ​‌ш​‌щ​‌ъ​‌ы​‌ь​‌э​‌ю​‌я​‌Α​‌Β​‌Γ​‌Δ​‌Ε​‌Ζ​‌Η​‌Θ​‌Ι​‌Κ​‌Λ​‌Μ​‌Ν​‌Ξ​‌Ο​‌Π​‌Ρ​‌Σ​‌Τ​‌Υ​‌Φ​‌Χ​‌Ψ​‌Ω​‌α​‌β​‌γ​‌δ​‌ε​‌ζ​‌η​‌θ​‌ι​‌κ​‌λ​‌μ​‌ν​‌ξ​‌ο​‌π​‌ρ​‌σ​‌τ​‌υ​‌φ​‌χ​‌ψ​‌ω​‌ά​‌Ά​‌έ​‌Έ​‌έ​‌Ή​‌ί​‌ϊ​‌ΐ​‌Ί​‌ό​‌Ό​‌ύ​‌ΰ​‌ϋ​‌Ύ​‌Ϋ​‌ὰ​‌ά​‌ὲ​‌έ​‌ὴ​‌ή​‌ὶ​‌ί​‌ὸ​‌ό​‌ὺ​‌ύ​‌ὼ​‌ώ​‌Ώ​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*​‌</i>
                </p>
            </div>
            <!-- Bold -->
            <div class="col">
                <p><b>Bold</b></p>
                <p>
                    <b>A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌А​‌Б​‌В​‌Г​‌Ґ​‌Д​‌Ђ​‌Е​‌Ё​‌Є​‌Ж​‌З​‌Ѕ​‌И​‌І​‌Ї​‌Й​‌Ј​‌К​‌Л​‌Љ​‌М​‌Н​‌Њ​‌О​‌П​‌Р​‌С​‌Т​‌Ћ​‌У​‌Ў​‌Ф​‌Х​‌Ц​‌Ч​‌Џ​‌Ш​‌Щ​‌Ъ​‌Ы​‌Ь​‌Э​‌Ю​‌Я​‌а​‌б​‌в​‌г​‌ґ​‌д​‌ђ​‌е​‌ё​‌є​‌ж​‌з​‌ѕ​‌и​‌і​‌ї​‌й​‌ј​‌к​‌л​‌љ​‌м​‌н​‌њ​‌о​‌п​‌р​‌с​‌т​‌ћ​‌у​‌ў​‌ф​‌х​‌ц​‌ч​‌џ​‌ш​‌щ​‌ъ​‌ы​‌ь​‌э​‌ю​‌я​‌Α​‌Β​‌Γ​‌Δ​‌Ε​‌Ζ​‌Η​‌Θ​‌Ι​‌Κ​‌Λ​‌Μ​‌Ν​‌Ξ​‌Ο​‌Π​‌Ρ​‌Σ​‌Τ​‌Υ​‌Φ​‌Χ​‌Ψ​‌Ω​‌α​‌β​‌γ​‌δ​‌ε​‌ζ​‌η​‌θ​‌ι​‌κ​‌λ​‌μ​‌ν​‌ξ​‌ο​‌π​‌ρ​‌σ​‌τ​‌υ​‌φ​‌χ​‌ψ​‌ω​‌ά​‌Ά​‌έ​‌Έ​‌έ​‌Ή​‌ί​‌ϊ​‌ΐ​‌Ί​‌ό​‌Ό​‌ύ​‌ΰ​‌ϋ​‌Ύ​‌Ϋ​‌ὰ​‌ά​‌ὲ​‌έ​‌ὴ​‌ή​‌ὶ​‌ί​‌ὸ​‌ό​‌ὺ​‌ύ​‌ὼ​‌ώ​‌Ώ​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*​‌</b>
                </p>
            </div>
            <!-- Bold Italic -->
            <div class="col">
                <p><b><i>Bold Italic</i></b></p>
                <p>
                    <b><i>A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌А​‌Б​‌В​‌Г​‌Ґ​‌Д​‌Ђ​‌Е​‌Ё​‌Є​‌Ж​‌З​‌Ѕ​‌И​‌І​‌Ї​‌Й​‌Ј​‌К​‌Л​‌Љ​‌М​‌Н​‌Њ​‌О​‌П​‌Р​‌С​‌Т​‌Ћ​‌У​‌Ў​‌Ф​‌Х​‌Ц​‌Ч​‌Џ​‌Ш​‌Щ​‌Ъ​‌Ы​‌Ь​‌Э​‌Ю​‌Я​‌а​‌б​‌в​‌г​‌ґ​‌д​‌ђ​‌е​‌ё​‌є​‌ж​‌з​‌ѕ​‌и​‌і​‌ї​‌й​‌ј​‌к​‌л​‌љ​‌м​‌н​‌њ​‌о​‌п​‌р​‌с​‌т​‌ћ​‌у​‌ў​‌ф​‌х​‌ц​‌ч​‌џ​‌ш​‌щ​‌ъ​‌ы​‌ь​‌э​‌ю​‌я​‌Α​‌Β​‌Γ​‌Δ​‌Ε​‌Ζ​‌Η​‌Θ​‌Ι​‌Κ​‌Λ​‌Μ​‌Ν​‌Ξ​‌Ο​‌Π​‌Ρ​‌Σ​‌Τ​‌Υ​‌Φ​‌Χ​‌Ψ​‌Ω​‌α​‌β​‌γ​‌δ​‌ε​‌ζ​‌η​‌θ​‌ι​‌κ​‌λ​‌μ​‌ν​‌ξ​‌ο​‌π​‌ρ​‌σ​‌τ​‌υ​‌φ​‌χ​‌ψ​‌ω​‌ά​‌Ά​‌έ​‌Έ​‌έ​‌Ή​‌ί​‌ϊ​‌ΐ​‌Ί​‌ό​‌Ό​‌ύ​‌ΰ​‌ϋ​‌Ύ​‌Ϋ​‌ὰ​‌ά​‌ὲ​‌έ​‌ὴ​‌ή​‌ὶ​‌ί​‌ὸ​‌ό​‌ὺ​‌ύ​‌ὼ​‌ώ​‌Ώ​‌Ă​‌Â​‌Ê​‌Ô​‌Ơ​‌Ư​‌ă​‌â​‌ê​‌ô​‌ơ​‌ư​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌\​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*‌</i></b>
                </p>
            </div>
        </div>        
        <div> 
            <p class="fw-bold ">HEADINGS</p> 
        </div> 
        <div class="row">
            <!-- Headings on the left -->
            <div class="col-lg-6">
                <h1>H1 Heading</h1>
                <h2>H2 Heading</h2>
                <h3 style="font-size: 1.25rem;">H3 Heading</h3>
                <h4 style="font-size: 1.125rem;">H4 Heading</h4>
                <h5 style="font-size: 1rem;">H5 Heading</h5>
            </div>
            <div class="col-lg-6">
                <!-- Title -->
                    <h1>This is a Title</h1>
                <!-- Section Title -->
                    <h2 class="fw-bold">This is a Section Title</h2>
            </div>
        </div>
            <div> 
                <p class="fw-bold ">TEXTS</p> 
            </div>
            <div class="col-lg" style="margin-top: 0px;">
                <!-- Link -->
                <div class="mb-4">
                    <p 
                class="fw-semibold" 
                style="width:fit-content; cursor: pointer; text-decoration: none;" 
                onmouseover="this.style.textDecoration='underline';" 
                onmouseout="this.style.textDecoration='none';">
                This is a Link
                </p>
                </div>
                <!-- Quote -->
                <div class="testimonial-quote group" style="padding: 0; margin: 0;">
                    <div class="quote-container" style="padding: 0; margin: 0;">
                        <blockquote style="padding: 0; margin: 0;">
                            <p>This is a Quote</p>
                        </blockquote>
                        <cite style="padding: 0; margin: 0;">
                            <span>Author</span><br>
                            This is the affiliation<br>
                        </cite>
                    </div>
                </div> 
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#button-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="button">
        <a href="#button" class="anchor-link fw-semibold">
            <strong>Buttons</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="button-content">
        <div class="row">
            <div class="col-lg-8">
                
                <button class="btn btn-primary">Primary button</button>
                <button class="btn btn-secondary">Secondary button</div>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;"  data-bs-toggle="collapse" data-bs-target="#forms-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="forms">
        <a href="#forms" class="anchor-link fw-semibold">
            <strong>Forms</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="forms-content">
        <div class="btn btn-primary py-3 px-4 no-after d-inline-flex gap-4 align-items-center">
            <h2><i class="fa fa-envelope" aria-hidden="true"></i></h2>
            <div class="text-start">
              <h5 class="d-flex align-items-center gap-2 bold">Send us an E-mail</h5>
              <span>example@mail.com</span>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#logos-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="logos">
        <a href="#logos" class="anchor-link fw-semibold">
            <strong>Logos</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="logos-content">
    <div class="row gy-4">
        <div class="col-lg-2 col-md-6 col-12 flex-column">
            <div class="border border-black">
            <img src="https://cloud.opendatahub.com/index.php/apps/files_sharing/publicpreview/dimRZHxYYw8rc6b?file=/Logo_RBG/Black/OpenDataHub_Logo_BK-RGB.jpg&fileId=428554&x=960&y=600&a=true" alt=""/>
        </div>
        <a href="https://cloud.opendatahub.com/index.php/s/dimRZHxYYw8rc6b?path=%2FLogo_RBG%2FBlack">
         <p
         style="cursor: pointer;" 
        onmouseover="this.style.textDecoration='underline'; !important;" 
        onmouseout="this.style.textDecoration='none';">
        Black</p>
    </a>        
    </div>

        <div class="col-lg-2 col-md-6 col-12 d-flex flex-column">
            <img 
                src="https://cloud.opendatahub.com/index.php/apps/files_sharing/publicpreview/dimRZHxYYw8rc6b?file=/Logo_RBG/White/OpenDataHub_Logo_WH-RGB.jpg&fileId=428560&x=1920&y=1200&a=true">
                <a href="https://cloud.opendatahub.com/index.php/s/dimRZHxYYw8rc6b?path=%2FLogo_RBG%2FWhite">
                    <p
                    style="cursor: pointer;" 
                   onmouseover="this.style.textDecoration='underline'; !important;" 
                   onmouseout="this.style.textDecoration='none';">
                   White</p>
               </a>  
        </div>
    </div>
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#icons-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="logos">
        <a href="#icons" class="anchor-link fw-semibold">
            <strong>Icons</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="icons-content">
        <div>
            <img src="/icon/Calendar.svg" alt title/>
            <img src="/icon/ChangeImage.svg" alt title/>
            <img src="/icon/close.svg" alt title/>
            <img src="/icon/download_copy.svg" alt title/>
            <img src="/icon/drag&drop.svg" alt title/>
            <img src="/icon/duplicate.svg" alt title/>
            <img src="/icon/edit.svg" alt title/>
            <img src="/icon/expanded.svg" alt title/>
            <img src="/icon/Fullscreen.svg" alt title/>
            <img src="/icon/language.svg" alt title/>
            <img src="/icon/Loading.svg" alt title/>
            <img src="/icon/not_selected.svg" alt title/>
            <img src="/icon/push.svg" alt title/>
            <img src="/icon/Schließen.svg" alt title/>
            <img src="/icon/selected.svg" alt title/>
            <img src="/icon/Stop.svg" alt title/>
            <img src="/icon/Tooltip.svg" alt title/>
            <img src="/icon/Tooltip2.svg" alt title/>
            <img src="/icon/drag&drop.svg" alt title/>
            <img src="/icon/upload_copy.svg" alt title/>
            <img src="/icon/yes.svg" alt title/>
        </div>
        <div>
            <img src="/icon/Calendar.svg" alt title/>
        </div>
    </div>
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#header-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="header">
        <a href="#header" class="anchor-link fw-semibold">
            <strong>Header</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="header-content">
        <p> From left to right, the header must include:
        </p>        
        <ul><li><b>Page title</b>, placed inside a rectangle with fixed dimensions.</li>
            The font must follow these specifications:
            <ul><li>Open Sans Bold, uppercase</li>
            <li>Body 17px with line height 20px</li>
            <li>Secondary color #000000</li>
            </ul>
        </ul>
            
            
        <ul><li><b>Navigation bar</b> with main links, which may include dropdown menus indicated by small downward arrows to display sub-items.</li>
            The font must follow these specifications:
            <ul><li>Open Sans Regular, lowercase</li>
            <li>Body 17px</li>
            <li>Font color #212529</li>
            </ul>
        </ul>    
            
            <ul><li><b>Login</b> (optional), represented by an icon.</li>
            If included, a black vertical line must be added to visually separate the login from the last section.
            </ul>
            
            <ul><li><b>Open Data Hub logo</b>, which links the platform to its parent organisation.</li></ul>
            <div class="row" style="width: 50%;" data-bs-toggle="modal" data-bs-target="#modal-{{ .Params.img_header | sha1 }}">
                {{ partial "img-enlargeable" (dict "img_back" .Params.img_header) }}
            </div>    
    </div>
</div>

<div class="container py-3">
    <h3 type="button" style="margin-bottom: 16px;" data-bs-toggle="collapse" data-bs-target="#footer-content" aria-expanded="false" aria-controls="" class="d-inline video-section-title" id="footer">
        <a href="#footer" class="anchor-link fw-semibold">
            <strong>Footer</strong>
        </a>
        <i class="fa fa-caret-up ms-1" aria-hidden="true"></i>
    </h3>
    <div class="video collapse" id="footer-content">
        <p> From the top, the footer must include:
        </p>    
        <ul><li><b>Logos</b>, linking the platform to its parent organisation.</li>
            On the left, the Open Data Hub logo with the tagline "Place where data and tech are shared", placed inside a rectangle and aligned to the left.
            <br>On the right, the NOI Techpark logo with the tagline "Innovation hub in Südtirol/Alto Adige", also inside a rectangle and aligned to the left.
            <br>The font must follow these specifications:
            <ul><li>Open Sans Bold, lowercase</li>
            <li>Body 20px, line height 35px</li>
            <li>Secondary color #000000</li>
            </ul>
        </ul>
        <ul><li><b>Horizontal black line</b>, separates the logos from the following sections.</li></ul>
        <ul><li><b>Four sections</b> arranged in columns: <b>Services</b>, <b>Quickstart</b>, <b>Community</b> and <b>Social Media</b>.</li>
            Each section contains useful links, which are underlined on hover to improve usability.
            <br>The font must follow these specifications:
            <ul><li>Open Sans Regular & Bold (only for section titles), lowercase </li>
                <li>Body 20px, line height 35px</li>
                <li>Font color #212529</li>
            </ul>
        </ul>
        <div class="row" style="width: 50%;" data-bs-toggle="modal" data-bs-target="#modal-{{ .Params.img_footer | sha1 }}">
            {{ partial "img-enlargeable" (dict "img_back" .Params.img_footer) }}
        </div>
    </div>
</div>

{{ end }}