{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "nav.html" . }} 
{{ partial "title.html" .Params }} 

{{ partial "text-imgs.html" site.Data.events.open_data_hub_day_2023_interviews }}

{{range site.Data.events.video_library.interviews}}
    <div class="bg-darker">
        {{ partial "video-text.html" . }}
    </div>
{{end}}

<section>
    {{ partial "text-imgs.html" site.Data.events.open_data_hub_day_2023 }}
</section>

{{range site.Data.events.video_library.open_data_hub_day_2023}}
    <div class="bg-darker">
        {{ partial "video-text.html" . }}
    </div>
{{end}}

<section>
    {{ partial "text-imgs.html" site.Data.events.open_data_hub_day_2022 }}
</section>

{{range site.Data.events.video_library.open_data_hub_day_2022}}
    <div class="bg-darker">
        {{ partial "video-text.html" . }}
    </div>
{{end}}

<section>
    {{ partial "text-imgs.html" site.Data.events.open_data_hub_day_2021 }}
</section>

{{range site.Data.events.video_library.open_data_hub_day_2021}}
    <div class="bg-darker">
        {{ partial "video-text.html" . }}
    </div>
{{end}}

{{ end }}