{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<!DOCTYPE html>
<html lang="{{ or .Site.LanguageCode .Site.Language.Lang }}">
  <head>
    {{ partial "header.html" . }}
  </head>

  <body>
    <a id="top" class="position-absolute top-0"></a>
    {{ partial "spinner.html" . }}

    {{ partial "nav.html" . }}
    {{- block "main" . }}{{- end }}
    {{ partial "footer.html" . }}

    <div id="gototop" class="gototop bg-secondary-subtle rounded">
      <a href="#top"><i class="fa fa-angle-up"></i></a>
    </div>

    {{ partial "js.html" .}}
  </body>
</html>
