{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

<!DOCTYPE html>
<html>
  <head>
    {{ partial "header.html" . }}
  </head>

  <body>
    <!-- Loader -->
    <div class="fh5co-loader"></div>
    <div class="fh5co-page">
      <header class="sm-header">
        <a href="/" class="logo"
          ><img src={{ .Site.Params.logo | absURL }} height="40" alt=""
        /></a>
        <span id="nav-hamburger-ct"><span>
      </header>
      <div id="fh5co-container">{{- block "main" . }}{{- end }}</div>
    </div>

    {{ partial "js.html" .}} {{partial "footer.html" .}}
  </body>
</html>
