{{ define "main" }}

{{ partial "nav.html" . }}

{{ partial "title-select.html" .Params }}

<div class="datasets container">
	{{ range .Pages.ByTitle }}
	<a href="{{ .Permalink }}" class="col-lg-3 card">
		<div>
			<div class="square bg-center-cover">
				<img src="{{ .Params.img }}" alt="{{ .Params.img_alt }}" />
			</div>
			<div class="title">{{ .Title }}</div>
			<div class="category">{{ .Params.datatype }}</div>
			
			{{ if eq .Params.availability "partially-closed" }}
			<div class="availability open"></div>
			<div class="availability second closed"></div>
			{{ else }}
			<div class="availability {{ .Params.availability }}"></div>
			{{ end }}
		</div>
	</a>
	{{ end }}
</div>

{{ end }}