{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title-select.html" .Params }}

<div class="datasets container mt-5">
	<div class="row gy-5">
		{{ range .Pages.ByTitle.ByWeight }}
		<a href="{{ .Permalink }}" class="col-6 col-md-4 col-lg-3 dataset-card" data-availability="{{.Params.availability}}">
			<div class="ratio ratio-1x1">
				<img class="object-fit-cover h-100 w-100" src="{{ .Params.img }}" alt="{{ .Params.img_alt }}" />
			</div>
			<div class="py-4">
				<h5 class="fw-bold dataset-card-title" >{{ .Title }}</h5>
				<div class="text-muted">
					{{ .Params.datatype }} | {{ .Params.availability_label }}
				</div>
			</div>
		</a>
		{{ end }}
	</div>
	<p class="no-datasets text-center d-none mt-5 pt-3">
		There are no datasets that match your selection.
	</p>
</div>

{{ end }}