{{ define "main" }} {{ partial "nav.html" . }} {{ partial "title.html" .Params
}}

<section class="bg-darker" id="data-sharing">
  {{ partial "col-imgs-text.html" site.Data.services.row_one }}
</section>

<section id="data-access">
  {{ partial "col-text-imgs.html" site.Data.services.row_two }}
</section>

<section class="bg-darker" id="app-dev">
  {{ partial "col-imgs-text.html" site.Data.services.row_three }}
</section>

<section>
  {{ partial "title.html" site.Data.services.pricing }} {{ partial
  "table-comparison.html" site.Data.services.pricing}}
</section>

{{ end }}
