{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "nav.html" . }}

{{ partial "title.html" .Params }}

<a id="sm-tag-data-access"></a>
<section class="bg-darker" id="data-sharing">
  {{ partial "imgs-icon-text.html" site.Data.services.data_access }}
</section>

<a id="sm-tag-data-sharing"></a>
<section id="data-access">
  {{ partial "text-imgs-icon.html" site.Data.services.data_sharing }}
</section>

<a id="sm-tag-data-visualization"></a>
<section class="bg-darker" id="app-dev">
  {{ partial "imgs-icon-text.html" site.Data.services.data_visualization }}
</section>

{{ end }}
