/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
  .modal-backdrop.fade.show,
  .modal-backdrop.fade.in {
    z-index: 0 !important;
  }

  .img-elarged{
    max-width: 100%; /*w-100 p-3*/
  }
  .main-img{
    width: 90%; /**w-100 p-3*/
  }

  .button-img{
    background-color: transparent !important; /*bg-transparent*/
    border: none !important; /*border-0*/
  }
  .close{
    margin-bottom: 10px; /*mb-?*/
    margin-left: 10px; /*ml-?*/
  }

  /*#non-modal-opener {
    display: none;
  }

  @media (min-width: 1200px) {
    #modal-opener {
      display: none;
    }

    #non-modal-opener {
      display: block;
    }
  }