/*
SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

SPDX-License-Identifier: AGPL-3.0-or-later
*/

/*
  Please add to this file or create new custom stylesheets only if absolutely necessary!
  Try to work as much as possible with Bootstrap styling directly on elements to keep everything responsive and looking good on mobile
  If you do make changes or add new styling make sure everything is responsive and looks as good if not better on mobile
*/

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --border-radius: 4px;
}

html {
  scroll-behavior: auto !important;
}

body {
  font-family: "Open Sans", Arial, sans-serif;

  padding-top: 5rem;
}

@media (max-width: 992px) {
  body {
    padding-top: 2rem;
  }
}

section {
  margin-top: 3rem;
}

/* No media bigger than viewport */
img, iframe {
  max-width: 100% !important;
}

/* Dark sections */
.bg-darker {
  background: #f5f5f5;
}

/* Text styling */
h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 500;
}

/* Links */
a {
  text-decoration: none !important;
  cursor: pointer;
}

.bg-black,
.bg-black a {
  color: white;
}

footer a,
.toc a {
  line-height: 1.8;
}

/* Lists */
ul.no-bullets {
  list-style-type: none;
}

/* Buttons */
.btn {
  border: none !important;
  border-radius: var(--border-radius) !important;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 15px;
  letter-spacing: 0;
}

.btn::after {
  content: " \279E";
  font-weight: bold;
}

/* Navbar */
.nav-link,
.dropdown-item {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .nav-link,
  .dropdown-item {
    text-align: center;
  }
}

.nav-link.active {
  font-weight: bold;
}

.vertical-separator {
  height: 35px;
  width: 1px;
  background-color: #cccccc;
  margin: 0 5px;
}

.horizontal-spacer {
  height: 2rem;
}

.dropdown-menu {
  border-radius: var(--border-radius);
}

/* Dataset single page */
.dataset-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 4rem;
}

.dataset-content table th,
.dataset-content table td {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc;
  line-height: 1.8;
}

.dataset-content table th {
  visibility: hidden;
}

.dataset-content table td:first-child {
  color: #555555;
  padding-right: 1rem;
}

.dataset-content table td a {
  word-break: break-all;
}

.dataset-contact-us-text a {
  font-weight: bold;
}

/* Quickstart boxes */
.quickstart-box .btn {
  transition: all 0.3s ease-out;
}

.quickstart-box:hover .btn {
  transform: translateX(7px);
}

/* Event boxes */
.event-card {
  transition: box-shadow 0.5s ease-in-out;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0);
  box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0);
}

.event-card:hover {
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0.7);
  box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0.7);
}

/* Spinner (Loader) */
#custom-spinner {
  /* Above navbar */
  z-index: 1040
}

/* Footer media icons */
@media (min-width: 768px) {
  .media-icon {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .media-icon {
    width: 25% !important;
  }
}

/* Form elements */
select,
.select,
option,
input {
    padding: 10px;
    background-color: #f5f5f5;
    color: #555555;
    border-color: transparent;
}

select,
.select,
option {
  width: 175px;
}

select:focus,
.select:focus,
input:focus {
  border-color: #555555;
}

select:focus-visible,
.select:focus-visible,
input:focus-visible {
  outline: none !important;
}


/* Slideshow */
#slides-container {
  max-width: 100%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}

#slides-container .slide {
  min-width: 100%;
}

.shift-left-once {
  transition: all 1.5s cubic-bezier(.53, 0, .41, 1);
  transform: translateX(-100%);
}

/* Gototop */
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gototop.active {
  opacity: 1;
  visibility: visible;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
  text-decoration: none;
  outline: none;
}

/* Contact form */
#contact-form select,
#contact-form input,
#contact-form textarea {
  width: 100%;
  height: 3rem;
  margin-bottom: 1.5rem;
  background-color: #f5f5f5;
  border: none;
}

#contact-form input[type="checkbox"] {
  height: 0.8rem;
  width: auto;
}

#contact-form input[type="checkbox"]+label {
  vertical-align: middle;
  height: 1.6rem;
  margin-left: 0.8rem;
}

#contact-form textarea {
  height: 10rem;
}

#contact-form label {
  display: block;
  font-size: 0.8rem;
  color: #555555;
  font-weight: bold;
}

#contact-form button {
  margin-top: 1.5rem;
}

#contact-form.reason-data-access .data-access {
  display: block !important;
}

#contact-form.reason-data-sharing .data-sharing {
  display: block !important;
}

/* Video TOC */
.video-section-title[aria-expanded=false] .fa-caret-up {
  transform: rotate(180deg);
}
