html,
body,
p {
    color: black;
    font-size: 16px;
}

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary {
    color: #9bc325;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h2.subtitle {
    font-size: 1.1rem;
}

h3 {
    font-size: 1.5rem;
}

h6.title {
    margin-top: 2rem;
    font-size: 1.3rem;
}

a {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.bigger {
    font-size: 1.1rem;
}

section {
    padding: 5rem 0;
}

.bg-primary {
    background: #9bc325;
    color: white;
}

.bg-primary h3,
.bg-primary a,
.bg-primary p {
    color: white;
}

a.bg-primary:hover {
    background: #abd216 !important;
}

.bg-darker {
    background: #f5f5f5;
}

.container {
    max-width: 75%;
}

.container .container-content {
    max-width: 650px;
}

.btn {
    border: none;
    border-radius: 0;
    text-transform: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 10px;
}

.btn::after {
    content: " \279E";
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-primary {
    color: white;
    background-color: #9bc325;
}

.btn-primary:hover,
a:hover .btn-primary {
    background-color: #abd216 !important;
}

.btn-lightgrey {
    color: black;
    background-color: #eeeeee;
}

.btn-lightgrey:hover,
a:hover .btn-lightgrey {
    background-color: #f3f3f3 !important;
}

.btn-white {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-white:hover,
a:hover .btn-white {
    background: rgba(255, 255, 255, 1);
}

.full-width {
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.display-inline-block {
    display: inline-block !important;
}

/* MENU NAVBAR */
.fh5co-main-nav .fh5co-menu-1 .logo-home {
    padding: 0;
    margin-right: 15px;
}

.fh5co-main-nav .fh5co-menu-1 .vertical-separator {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 1px;
    background-color: #cccccc;
    margin: 0 15px;
}

.fh5co-main-nav .fh5co-menu-1 a {
    padding: 35px 15px;
    margin: 0;
    border-top: 2px solid transparent;
    transition: all 0.3s ease;
}

.fh5co-main-nav .fh5co-menu-1 a:hover {
    border-color: #abd216;
    transition: all 0.3s ease;
}

.fh5co-main-nav .fh5co-menu-1 a.logo-home:hover {
    border-color: transparent !important;
}

.fh5co-main-nav .fh5co-menu-1 a.current {
    border-color: #9bc325;
    font-weight: bold;
}

.fh5co-menu-1.float-right {
    float: right !important;
    width: auto;
}


/* GENERIC ELEMENTS */
.square,
.rectangle-long {
    padding: 0;
    position: relative;
}

.square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rectangle-long::after {
    content: "";
    display: block;
    padding-bottom: 35%;
}

.square > div,
.square > a,
.square > img,
.rectangle-long > div,
.rectangle-long > a,
.rectangle-long > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-center-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 3px solid #cccccc;
}

th,
td {
    padding: 10px 0;
    border-bottom: 3px solid #cccccc;
}

table a {
    color: black;
}

select, option, input {
    width: 150px;
    padding: 10px;
    background-color: #f5f5f5;
    color: #555555;
    border-color: transparent;
}

select:focus, input:focus {
    border-color: #555555;
}


/* GENERIC BOXES */
.generic-boxes .text-center {
    max-width: 50%;
}

.generic-boxes .single-box-block {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin-left: 15px;
    padding: 20px;
}

.generic-boxes .single-box-content {
    position: absolute;
    bottom: 20px;
}

.generic-boxes .single-box-icon img {
    width: 30%;
    margin: 20% 5%;
}

.generic-boxes .single-box-icon,
.generic-boxes .single-box-text {
    height: 50%;
}

.generic-boxes .single-box-block h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 10px;
}

/* GENERIC OFFSET IMAGES */
.generic-offset-images {
    margin-top: 10rem;
    padding: 0;
}

.generic-offset-images .container {
    margin-top: -5rem;
}

.generic-offset-images .card {
    border: 15px solid white;
    margin-top: -5rem;
    margin-bottom: 5rem;
    transition: box-shadow 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0.55);
    box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0.55);
}

.generic-offset-images .card.hoverable:hover {
    transition: 1s;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(111, 111, 111, 0.7);
    box-shadow: 0px 0px 9px 1px rgba(111, 111, 111, 0.7);
}

.generic-offset-images .card a {
    padding: 30px;
}

.generic-offset-images .card:first-child {
    float: left;
    margin-left: -30px;
}

.generic-offset-images .card:last-child {
    float: right;
    margin-right: -30px;
}

.generic-offset-images .content {
    position: absolute;
    bottom: 30px;
}

.generic-offset-images .content h4 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.generic-offset-images .content h5 {
    color: white;
    width: 75%;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* TITLE */
.title-cta h1 {
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 0;
}

.title-section {
    margin-bottom: 3rem;
}

/* COLUMNS IMG-TEXT */
.col-imgs-text .row,
.col-text-imgs .row {
    display: flex;
    align-items: center;
}

.col-imgs-text .imgs {
    text-align: left;
}

.col-text-imgs .imgs {
    text-align: right;
}

.col-imgs-text img,
.col-text-imgs img {
    width: 60%;
}

.col-imgs-text img.img-front {
    margin-top: -30%;
    margin-left: 10%;
}

.col-text-imgs img.img-front {
    margin-top: -30%;
    margin-right: 10%;
}

/* DATASET */
.datasets.container {
    padding: 0;
}

.datasets .card {
    padding: 0 !important;
}

.datasets .card > div {
    margin: 15px;
}

.datasets a,
.datasets a:hover {
    color: black;
    text-decoration: none;
}

.datasets .title {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.datasets .title::after {
    content: " \279E";
}

section.dataset-title {
    padding-bottom: 1rem;
}

.dataset-title h1 {
    margin-bottom: 0;
}

.dataset-title .category {
    font-size: 1.1rem;
}

.category,
.category a {
    color: #555555;
}

.category-selector {
    float: right;
    margin-top: 1.2rem;
}

.dataset-content .container-content {
    padding: 0;
}

.dataset-content .description {
    font-size: 1.1.rem;
}

.dataset-content table {
    margin-bottom: 4rem;
}

.dataset-content table th {
    visibility: hidden;
}

table td:first-child {
    width: 35%;
    color: #555555;
}

.dataset-content .card > div {
    margin-top: -3rem;
    margin-left: 4rem;
}

.dataset-content .square .availability {
    top: 25px;
    right: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dataset-content .availability.description {
    margin: 1rem 15%;
    color: #555555;
    font-size: 0.8rem;
}

.dataset-content .card .full-width {
    margin-top: 1rem;
    padding: 8px;
    text-align: center;
}

/* EVENTS */
.events.container {
    padding: 0;
}

.events .card {
    padding: 30px !important;
}

.events .card > div {
    transition: box-shadow 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0);
    box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0);
}

.events .card > div:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0.7);
    box-shadow: 0px 0px 9px 1px rgba(150, 150, 150, 0.7);
}

.events a,
.events a:hover {
    color: black;
    text-decoration: none;
}

.events .card > div {
    background-color: white;
    padding: 25px;
}

.events .card .title {
    margin-bottom: 0.5rem;
}

.events .card .content p {
    color: #555555;
    height: 4rem;
    margin-bottom: 0;
    overflow-y: overlay;
}

/* FOOTER */
footer {
    background: #9bc325 !important;
    margin-top: 3rem;
}

footer .row img {
    width: 50%;
}

footer .row h6 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white !important;
}

footer .row ul {
    list-style: none;
    padding-left: 0;
}

footer .row a {
    color: white !important;
}

footer .copyright {
    margin-top: 2.5rem;
    font-size: .8rem;
    color: white;
}


/* CUSTOM */
.notification-box {
    float: right;
    margin-top: 1.2rem;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
}

#contact-form .col-lg-5 {
    padding: 0 !important;
}

#contact-form select,
#contact-form input,
#contact-form textarea {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
    background-color: #f5f5f5;
    border: none;
}

#contact-form input[type="checkbox"] {
    height: .8rem;
    width: auto;
}

#contact-form input[type="checkbox"] + label {
    vertical-align: middle;
    height: 1.6rem;
    margin-left: .8rem;
}

#contact-form textarea {
    height: 10rem;
}

#contact-form label {
    display: block;
    font-size: .8rem;
    color: #555555;
}

#contact-form button {
    margin-top: 1.5rem;
}