.sm-only {
  display: none;
}

/* NAVBAR */
#fh5co-offcanvas {
  background: #f5f5f5;
}

#fh5co-offcanvas a.logo-home {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#fh5co-offcanvas a {
  color: #555555;
}

#fh5co-offcanvas a:hover {
  color: black;
}

#fh5co-offcanvas a.current {
  color: black;
}

#fh5co-offcanvas a.menu-item-extra {
  margin-top: 1.5rem;
  font-weight: bold;
}

.fh5co-nav-toggle {
  background: #555555 !important;
}

@media (max-width: 768px) {
  .lg-only {
    display: none;
  }

  .sm-only {
    display: block;
  }

  /* OFFSET BOXES */
  .generic-offset-images .card {
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .generic-offset-images .card:last-child {
    margin-top: auto !important;
  }

  /* GENERIC BOXES */
  .generic-boxes .single-box-icon img {
    width: 35% !important;
  }

  /* DATASETS */
  .dataset-content .card {
    padding-left: 0;
    padding-right: 0;
  }

  .datasets .card > div {
    margin-bottom: 3rem !important;
  }

  .dataset-content .card > div {
    margin: 0 !important;
    margin-top: 10px !important;
  }

  .dataset-content > .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .container {
    max-width: 95%;
  }

  /* IMAGE TEXT COLUMNS */
  .col-imgs-text {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .col-imgs-text .imgs {
    margin-bottom: 30px;
  }

  .col-text-imgs > .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .col-text-imgs .imgs {
    text-align: left;
    margin-bottom: 30px;
  }

  .col-text-imgs .imgs .img-front {
    margin-left: 30px;
  }

  /* SECTIONS */
  section.title {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1199px) {
  .js-sticky {
    display: none !important;
  }

  /* HEADER */
  .sm-header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 100;
    background: #fff;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 9%);
  }

  .sm-header .logo img {
    width: auto;
    height: 30px;
    margin-top: 15px;
    margin-left: 80px;
  }

  .fh5co-nav-toggle {
    top: 12px;
    left: 20px;
    display: block !important;
    background: transparent !important;
  }

  .fh5co-nav-toggle i,
  .fh5co-nav-toggle i::before,
  .fh5co-nav-toggle i::after {
    background-color: #000;
  }

  /* FOOTER */
  footer ul.social {
    display: flex;
  }

  footer ul.social li {
    margin-right: 1rem;
  }
}
