.sm-only {
    display: none;
}


/* NAVBAR */

#fh5co-offcanvas {
    background: #f5f5f5;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#fh5co-offcanvas::-webkit-scrollbar {
    display: none;
}

#fh5co-offcanvas .logo-home {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#fh5co-offcanvas a {
    color: #555555;
}

#fh5co-offcanvas a:hover {
    color: black;
}

#fh5co-offcanvas a.current {
    color: black;
}

#fh5co-offcanvas .menu-item-extra {
    margin-top: 1.5rem;
    font-weight: bold;
}

#fh5co-offcanvas .nav-link .sub-menu {
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
    max-height: 0;
    border-top: 0px solid #f5f5f5;
    transition: max-height 0.25s ease-out, border-color 0.25s ease, border-top-width 0.25s ease;
    overflow: hidden;
}

#fh5co-offcanvas .nav-link .sub-menu a {
    color: #555555;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
    margin: 0 30px;
}

#fh5co-offcanvas .nav-link .sub-menu a:last-child {
    border-bottom: none;
}

#fh5co-offcanvas .nav-link .sub-menu a:hover {
    color: #000;
}

#fh5co-offcanvas .nav-link.expanded .sub-menu {
    max-height: 500px;
    border-top-width: 3px;
    border-color: rgb(61, 61, 61);
    transition: max-height 0.25s ease-in, border-color 0.25s ease, border-top-width 0.25s ease;
}

#fh5co-offcanvas .nav-link .nav-link-name {
    pointer-events: none;
}

#fh5co-offcanvas .nav-link.expanded .nav-link-name,
#fh5co-offcanvas .nav-link .nav-link-name.no-children {
    pointer-events: inherit;
}

.fh5co-nav-toggle {
    background: #555555 !important;
}

@media (max-width: 768px) {
    .generic-boxes .single-box-block h4 {
        font-size: 1.5rem;
        margin-top: -10px !important;
    }
    .lg-only {
        display: none;
    }
    .sm-only {
        display: block;
    }
    /* GENERIC BOXES */
    .generic-boxes .single-box-icon img {
        width: 35% !important;
    }
    /* DATASETS */
    .dataset-content .card {
        padding-left: 0;
        padding-right: 0;
    }
    .datasets .card>div {
        margin-bottom: 3rem !important;
    }
    .dataset-content .card>div {
        margin: 0 !important;
        margin-top: 10px !important;
    }
    .dataset-content>.container {
        display: flex;
        flex-direction: column-reverse;
    }
    .container {
        max-width: 95%;
    }
    /* IMAGE TEXT COLUMNS */
    .col-imgs-text {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .col-imgs-text .imgs {
        margin-bottom: 30px;
    }
    .col-text-imgs>.container {
        display: flex;
        flex-direction: column-reverse;
    }
    .col-text-imgs .imgs {
        text-align: left;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .col-text-imgs .imgs .img-front {
        margin-left: 30px;
    }
    /* SECTIONS */
    section.title {
        padding-bottom: 2rem;
    }
    .testimonial-quote {
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
        padding-top: 80px ;
        padding-bottom: 80px;
    }
}

@media (max-width: 1390px) {
    html {
        scroll-padding-top: 60px;
    }
    .js-sticky {
        display: none !important;
    }
    .generic-boxes .single-box-block h4 {
        font-size: 1.5rem;
        margin-top: 0px;
    }
    /* HEADER */
    .sm-header {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 60px;
        z-index: 100;
        background: #fff;
        box-shadow: 0 0 7px 0 rgb(0 0 0 / 9%);
    }
    .sm-header .logo img {
        width: auto;
        height: 30px;
        margin-top: 15px;
        margin-left: 80px;
    }
    .fh5co-nav-toggle {
        top: 12px;
        left: 20px;
        display: block !important;
        background: transparent !important;
    }
    .fh5co-nav-toggle i,
    .fh5co-nav-toggle i::before,
    .fh5co-nav-toggle i::after {
        background-color: #000;
    }
    /* OFFSET BOXES */
    .generic-offset-images .card {
        width: 100% !important;
        float: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .generic-offset-images .card:last-child {
        margin-top: auto !important;
    }
    /* CARD */
    .datasets .card>div {
        min-height: 420px;
    }
    /* FOOTER */
    footer ul.social {
        display: flex;
    }
    footer ul.social li {
        margin-right: 1rem;
    }
}

@media (max-width: 1200px) {
    /* COl-IMGS-TEXT / IMGS-ICON-TEXT */
    .col-imgs-text .container,
    .col-text-imgs .container {
        display: initial !important;
    }
    .imgs-icon-text .container,
    .text-imgs-icon .container {
        display: initial !important;
    }
}