{{ define "main" }}
	
	{{ partial "nav.html" . }}

	{{ partial "title.html" .Params }}


	<div class="bg-darker">
		{{ partial "col-imgs-text.html" site.Data.data_access.row_one }}
		</div>
		
	{{ partial "col-text-imgs.html" site.Data.data_access.row_two }}
	<div class="bg-darker">
	{{ partial "col-imgs-text.html" site.Data.data_access.row_three }}
	</div>
	
	{{ partial "col-text-imgs.html" site.Data.data_access.row_four }}

	<section style="padding-top: 0;">
	  {{ partial "title.html" site.Data.services.pricing }}
	  {{ partial "table-comparison.html" site.Data.services.pricing}}
	</section>
	
{{ end }}