{{/*
	SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>

	SPDX-License-Identifier: AGPL-3.0-or-later
*/}}

{{ define "main" }}

{{ partial "title.html" .Params }}

{{ range .Params.rows }}
    <div {{ if .bg_darker }}class="bg-darker"{{ end }}>
        {{ partial .partial . }}
    </div>
{{ end }}

{{ if isset .Params "show_table" }}
    {{ $anchor := "pricing" }}
    <h2 id="{{ $anchor }}">
        <a href="#{{ $anchor }}">
            {{ partial "title.html" site.Data.services.pricing }}
        </a>
    </h2>
    {{ partial "table-comparison.html" site.Data.services.pricing }}
{{ end }}

{{ end }}
